[2015-01-19 12:51] lostpupil opened #3 "this is wired"
I am trying to follow readme to get fontawesome workink, and I set it right at the first time, then I get the icon correctly, but I don't know why it doesn't working now. after I launching the program, I kept get this error.
![image](https://cloud.githubusercontent.com/assets/2015695/5800673/caec06c2-a01c-11e4-8e80-951397789b76.png)
![image](https://cloud.githubusercontent.com/assets/2015695/58006

[2015-01-20 13:04] thii commented on #3
@lostpupil Can you test with the version 0.2.0?

[2015-01-23 07:11] lostpupil commented on #3
I followed your readme but always can not render the font on sim or real iphone.
I will test with 0.2.0.
Thx for your reply.

[2015-01-23 07:42] thii commented on #3
@lostpupil From version 0.2.0 the font will be loaded dynamically so you don't need to edit your project's plist file anymore. Just add the swift file and OTF file to your project and you're done.

[2015-01-23 08:27] lostpupil commented on #3
![image](https://cloud.githubusercontent.com/assets/2015695/5871725/af818f08-a31c-11e4-8d1b-163099a2af9a.png)

![image](https://cloud.githubusercontent.com/assets/2015695/5871710/831ffde6-a31c-11e4-9db7-6b6c99ff9284.png)

[2015-01-23 08:35] thii commented on #3
@lostpupil Can you check `FontAwesome.otf`'s target membership?

[2015-01-23 08:45] lostpupil commented on #3
great it works! thx for your patience!

[2015-01-23 08:46] thii commented on #3
👍

[2015-01-23 08:46] #3 closed

[2015-01-23 21:32] bluenose01 opened #4 "dispatch_once in fontAwesomeIconWithName is not effective / token is not static"
The "dispatch_once" call inside of "fontAwesomeIconWithName()" is not effective.  The icons table is setup every time the function is called because the 'token' var itself is not static, which can result in poor performance if used frequently.

[code]

If you debug this code (xcode debugger or just print), you will see that "token" is always 0 when the function is invoked.  When using this functio

[2015-02-06 01:46] JV17 opened #6 "Add support to UIButton"
I have tried this framework to work with UIButton but I haven't been able to find a way around it to make it work.. Not sure if it supports UIButton yet but if it does it might be great to have an example in the readme file.

Thanks in advance!

[2015-02-07 08:42] thehellsoul commented on #6
if you use Interface Builder, i can suggest a way:
1/ Select FontAwesome as custom font from Interface Builder for your UIButton title.
2/ Copy the character you want from FontAwesome cheatsheet and paste it to UIButton title field.

[2015-02-08 04:33] JV17 commented on #6
@thehellsoul thanks for the suggestion but I am not using interface builder.. I think, I will try to do added to the framework whenever I get some free time.. Just basically to be able to creates images, buttons or whatever..

[2015-02-27 13:08] prrrnd commented on #4
I agree, discovered this too when I was using different icons in each cell of a UITableView.

[2015-02-28 21:49] harlanhaskins commented on #6
`UIButton` has a `titleLabel` property which is a `UILabel`.

Just use the example from the README except substitute `myLabel` for `myButton.titleLabel`.

[2015-03-02 06:04] thii commented on #4
Fixed in latest release.

[2015-03-02 06:04] #4 closed

[2015-03-13 03:34] k-yamada commented on #6
This is a sample code.

[code]

[2015-03-22 07:00] omidkh68 opened #11 "add support for toolbar and navigation bar"
how to add font awesome icons in buttons of toolbar and navigation bar ?

[2015-03-23 15:23] thii commented on #11
@omidkh68 See sample codes in the Demo project.

[2015-03-23 15:23] #11 closed

[2015-03-23 15:28] thii commented on #6
@JV17 Sorry for late reply. Please see sample codes in the Demo project.

[2015-03-23 15:28] #6 closed

[2015-03-24 08:29] omidkh68 commented on #11
thank you so much

[2015-03-28 11:20] omidkh68 opened #12 "problem in run app"
hi, I have a problem, when I run the app, the compiler get an error in this line of fontAwesome.swift : "let data = NSData(contentsOfURL: fontURL!)!"

i think this error happen for link of font and class, isn't it?

[2015-04-02 22:25] habitatus commented on #12
@omidkh68 Check out the second step in this post: http://codewithchris.com/common-mistakes-with-adding-custom-fonts-to-your-ios-app/#doublechecktarget

[2015-04-03 14:19] omidkh68 commented on #12
@habitatus  thank you so much,exactly this is my problem!

[2015-06-07 15:18] krishaamer commented on #12
Thank you, I had this problem as well.

[2015-06-16 16:48] King-Wizard opened #16 "Bug when compiling with v0.3.0: you need to release the pod version 0.3.1 with its updates."
The API v0.3.0 does not compile with Xcode Version 6.3.2 (6D2105).

For fixing that, you should release as quick as possible the pod version 0.3.1 including these two commits below:

https://github.com/thii/FontAwesome.swift/commit/4972f69f83b349528e080fef1dc34bb5bfcd05aa

https://github.com/thii/FontAwesome.swift/commit/7ba3a833beb11b593bb420d41fd1c2dd241d5f26

Note: thank you for keeping me upda

[2015-06-16 18:59] thii commented on #16
@King-Wizard Just released it.

[2015-06-16 18:59] #16 closed

[2015-06-22 16:24] schickling opened #18 "Add support for Carthage"
It would be nice if this package could be installed via [Carthage](https://github.com/Carthage/Carthage). I don't like copy&pasting source code into my projects...

Keep up the good work!

[2015-06-23 17:46] bjonica commented on #18
You don't need to copy and paste source code. If you use Cocoapods, you can just add "import FontAwesome_swift" to the top of your file. I'm not as familiar with Carthage to be know how to do the equivalent

[2015-06-24 03:00] thii commented on #18
@schickling Yes, it can be installed via Carthage now.

[2015-06-24 03:00] #18 closed

[2015-06-24 09:01] schickling commented on #18
Great! Thanks! :)

[2015-06-24 15:30] Boidkan opened #20 "UIImage.fontAwesomeIconWithName not working"
With this code I get "could not find member .MapMarker"
`UIImage.fontAwesomeIconWithName(.MapMarker, textColor: UIColor.grayColor(), size: 20)`

With this code I get "cannot invoke 'fontAwesomeIconWithName' with and argument list of type '(FontAwesome,UIColor,Int)'
`            UIImage.fontAwesomeIconWithName(.MapMarker as FontAwesome, textColor: UIColor.grayColor(), size: 20)`

However I have no

[2015-06-25 02:00] Sunnyztj opened #21 "No Such Module 'FontAwesome' in Swift Project"
Hello,

 I follow the installation guide:
1. Add  pod 'FontAwesome.swift' and run 'pod install'
2. Add 'import FontAwesome' to the controller file

After that I did import FontAwesome in my viewcontroller, then Xcode gave me No such module 'FontAwesome' error message. Please help me :)

p.s. I use Xcode 6.3.2

[2015-06-25 04:24] thejourneydude commented on #21
Having the same issue as well. Any help on this would be appreciated.

[2015-06-25 10:10] thii commented on #21
There is a problem with integrating this framework using CocoaPods right now. Please integrate it using Carthage or do it manually. I'll fix this soon.

[2015-06-25 10:11] thii commented on #20
@Boidkan Are you using CocoaPods or Carthage?

[2015-06-25 10:25] thii commented on #20
@Boidkan Your code was incorrect. Please use this:

[code]

[2015-06-25 10:25] #20 closed

[2015-06-25 12:35] thii commented on #21
@Sunnyztj @thejourneydude Fixed!
Please use `import FontAwesome_swift` if you are using CocoaPods

[2015-06-25 12:35] #21 closed

[2015-06-25 12:37] #12 closed

[2015-06-25 12:38] thii commented on #12
In latest version (as of writing, 0.4.2), you don't need to do any extra step. It just works!

[2015-06-25 19:50] Boidkan commented on #20
Oh, my apologies for not looking at the input properly.

[2015-06-30 10:57] imranali123 opened #22 "crash on FontAwsome file loading"
I added the FontAswome in swift using cocoa pods.
In file FontAwsome.swift on line no 29
let fontURL = bundle.URLForResource(name, withExtension: "otf")
fontURL is always nil, thats why application is crashing.

[2015-06-30 11:38] thii commented on #22
@imranali123 It looks like you are using an earlier version of `FontAwesome.swift`. Please run `pod update` to update this framework to its latest version.

[2015-06-30 11:38] #22 closed

[2015-06-30 13:25] imranali123 commented on #22
i just added the FontAswome project 1 hour ago. I also tried to update the project. But still same issue.

[2015-06-30 16:06] thii commented on #22
@imranali123 Which version are you using? Can you send in your `Podfile.lock` file?

[2015-06-30 18:10] imranali123 commented on #22
here is the podfile.lock entry
  - FontAwesome.swift (0.4.1)

[2015-07-01 04:19] thii commented on #22
@imranali123 Could you please run `pod update` again? The latest version is 0.4.2.

[2015-07-01 04:54] imranali123 commented on #22
I tried pod update 3 to 4 time, but cocoa pods are fetching 0.4.1.
I tried to update pods by adding version by myself, than I am facing error. Because pods not recognising the version 0.4.2

Sent from my iPhone

[2015-07-01 06:55] thii commented on #22
@imranali123 I just tried with a test project and had no issue fetching v0.4.2. You'll probably want try to remove this pod, run an update, add this pod and run an update again to see if it works.

[2015-07-01 11:58] imranali123 commented on #22
Thanks, this solved my problem

[2015-07-06 15:57] JonathanGrant opened #24 "Compile Error: Cannot load underlying module for 'FontAwesome_swift'"
Hello,

I just finished my pod install of FontAwesome.swift with the exact podfile code you provided. My project is entirely empty. When I wrote "import FontAwesome" or "import FontAwesome_swift" into my ViewController.swift, I got this error.

How can I fix this?

[2015-07-06 16:18] JonathanGrant commented on #24
Fixed:

Click Product:BuildFor:Testing

[2015-07-06 16:25] #24 closed

[2015-07-09 12:43] King-Wizard opened #26 "Impossible to import the library in Xcode using CocoaPods"
For more information, please consult the screenshots below:

<b>In Xcode imported pods list:</b>
![bug-cocoa-pods-library-import](https://cloud.githubusercontent.com/assets/5431357/8595193/6a0330c6-2648-11e5-82d5-e7578aa2b923.png)

<b>In Xcode source code:</b>
![import-not-found-in-xcode](https://cloud.githubusercontent.com/assets/5431357/8595197/6de305b8-2648-11e5-9a9c-7675590d3829.png)

<b>Podfi

[2015-07-09 12:53] thii commented on #26
It's FontAwesome_swift, not FontAwesome.swift. CocoaPods changes dot to underscore in framework name.

[2015-07-09 13:16] King-Wizard commented on #26
Thank you for the answer, problem fixed.

[2015-07-09 13:16] #26 closed

[2015-07-12 02:56] devilbags opened #27 "Using other icons"
Thanks for this great library.

But How do you use icons like fa-angle-up?

I tried `button.setTitle(String.fontAwesomeIconWithName(.fa-angle-up), forState: .Normal)` but failed

[2015-07-12 03:09] thii commented on #27
Use
[code]

[2015-07-12 03:09] #27 closed

[2015-08-17 01:20] mpclarkson opened #28 "fontAwesomeIconWithCode"
Hi there

I've written an extension that accepts Fontawesome css codes eg "fa-circle", as follows:

[code]
 Let me know if you'd like me to submit a PR.

[2015-08-17 03:22] thii commented on #28
Yeah, awaiting it.

[2015-08-18 19:29] JonathanGrant opened #30 "How can I add the FontAwesome Icons into my special characters library in Xcode?"
If you press Edit-> Emoji & Symbols you get a list of special characters accessible in the Storyboard. How can I add the FontAwesome Icons there?

[2015-08-18 21:29] mattgabor opened #31 "Swift 2"
Is there any plans to update this for Swift 2.0? I get errors when trying to compile in Xcode 7

[2015-08-20 04:57] #28 closed

[2015-08-28 07:30] kronik commented on #31
Found and issue related with recent change of "advance' signature (in fontAwesomeIconWithName). Could you update your source to support Index.advancedBy?

Thanks.

[2015-09-04 09:01] japarrado commented on #31
same problem detected, any plans for update to swift2.0?
Thx

[2015-09-09 20:46] ryanriley commented on #31
Line 72 in FontAwesome.swift needs to be:

return name.rawValue.substringToIndex(name.rawValue.startIndex.advancedBy(1))

[2015-09-14 00:07] abury commented on #31
There is already a fix for this in the 'swift-2.0' branch. I'm not sure why it hasn't been merged into master yet but until then you can set your podfile to:

[code]

[2015-09-21 10:56] japarrado commented on #31
When i use this lib for display awesome, example: "self.title = String.fontAwesomeIconWithName(.Gift)". I get the next result:
<img width="65" alt="captura de pantalla 2015-09-21 a las 12 55 03" src="https://cloud.githubusercontent.com/assets/6688600/9990261/2e8fea14-6060-11e5-8460-8b5e2e2a6c99.png">

Any idea?

[2015-09-22 07:55] Daemon-Devarshi commented on #31
@abury thanks .. even I tried to submit the pull request - https://github.com/thii/FontAwesome.swift/pull/39#partial-pull-merging

[2015-09-22 13:52] thii commented on #31
Sorry for the long wait. It has just been updated for Swift 2.0.

[2015-09-22 13:52] #31 closed

[2015-09-23 02:21] abury commented on #31
Thanks @thii ! Love your work! :+1:

[2015-09-23 14:02] 3webbg opened #43 "Swift 2 / iOS 9 support?"
Hello,
when it is expected to have support for iOS 9 / xcode 7 and Swift 2?
Thanks for the great library!

[2015-09-23 14:53] thii commented on #43
It is now.

[2015-09-23 14:53] #43 closed

[2015-09-24 18:42] danwatco opened #44 "Loading Tab Bar Images On Load"
I have a line in each of my view controllers to set the tab bar image. This is fine, but only works once you've clicked the tab. Is there anyway to load the images with the tab bar controller so they are loaded on the tab bar controller load?

[2015-09-25 09:35] japarrado opened #45 "don't show icon in swift2"
i have v0.6 and import FontAwesome_swift or import FontAwesome

When i use this lib for show icon:
self.title = String.fontAwesomeIconWithName(.Android)
i have the next result:
<img width="320" alt="captura de pantalla 2015-09-25 a las 11 34 51" src="https://cloud.githubusercontent.com/assets/6688600/10097459/7644c7dc-6379-11e5-9070-f5937d57730e.png">

Any idea?

[2015-09-25 19:47] danwatco commented on #44
Found it now, if any one is looking. You need to create a custom tab bar controller if you don't already have one and add this code in `viewDidLoad()`.
[code]

[2015-09-25 19:48] #44 closed

[2015-09-26 22:31] sagits commented on #31
Hi, i'm new to swift/ios development. Can you provide a solution for cocoapod to load the swift 1.0 last commit (i'm using xcode 6)? Thank you in advance.

[2015-09-28 04:44] thii commented on #31
@sagits You can specify version in your Podfile as below:
`pod 'FontAwesome.swift', '~> 0.5.0'`

[2015-09-28 04:45] thii commented on #30
You can't.

[2015-09-28 04:45] #30 closed

[2015-09-28 04:48] thii commented on #45
Did you set the FontAwesome font for the navigation bar title?

[2015-09-28 09:32] japarrado commented on #45
yes!! i need set FontAwesome Font ;)

Thanks

[2015-09-30 21:16] agquick opened #46 "UIImage extension clips image"
When you use the UIImage extension to draw an image from a font icon, it clips the image for all the icons that are wider than tall. I think the bug is here:

https://github.com/thii/FontAwesome.swift/blob/master/FontAwesome/FontAwesome.swift#L81

The `max` call should instead be a `min` when determining the font size.

For example the icon `fa-newspaper-o` when used with a font size of 30px actua

[2015-10-06 23:44] oliverdowling commented on #46
I have noticed this behaviour as well, but I don't think that line is the cause of this issue. If you set the size as a square, the sides are still cut off, so `min`/`max` makes no difference in that case. I think it should still be `min` though, because it should be an icon that fits inside the given size. if you give a size of 100x10, you would still want to see the whole icon, and it should be

[2015-10-07 00:01] agquick commented on #46
Yup you're right. The way I get around that right now is looking up the ratio of the icon on fontawesome.io and setting the size of the image accordingly (i.e. if the icon isn't a square don't set the image to one). But this only works by changing max to min.

[2015-10-07 00:12] oliverdowling commented on #46
On FontAwesome.io in their fixed width example, they have the width set as `1.28571429em` which I assume is the maximum width:height ratio for their icons. When I get a chance in a few hours, I'll add this magic number into a pull request, along with your min/max fix.

[2015-10-07 12:58] thii commented on #46
Fixed in #47.

[2015-10-07 12:58] #46 closed

[2015-10-08 08:25] PanamaDonne commented on #21
Can get FontAwesome_swift to work. Same error as above.

[2015-11-17 16:10] #45 closed

[2015-11-19 15:19] funkenstrahlen opened #50 "Use Font Awesome from Storyboard"
Is there any way to use this from storyboard directly?

[2015-11-20 10:22] thii commented on #50
@funkenstrahlen There is no way at the moment. You have to do it in code.

[2015-11-20 10:22] #50 closed

[2015-12-09 00:25] nanoxd opened #51 "watchOS support"
Is watchOS support something that is on your roadmap? If not, would you accept a pull request?

[2015-12-09 01:44] thii commented on #51
I would love to have watchOS support in this library. Feel free to make a pull request. :-)

[2016-01-01 22:59] mvpbld opened #54 "dyld: library not loaded: @rpath/libswiftSecurity.dylib crash"
I have a problem with your library.
This is the Xcode's console:

dyld: Library not loaded: @rpath/libswiftSecurity.dylib
  Referenced from: /private/var/mobile/Containers/Bundle/Application/524AE979-D123-455E-83CC-DB96E01BC348/FoodApp.app/Frameworks/FontAwesome_swift.framework/FontAwesome_swift
  Reason: image not found

[2016-01-07 19:11] smaspe opened #55 "Font is not loaded until fontAwesomeOfSize is called"
I have a UILabel in a Storyboard.
I set the font to FontAwesome in the storyboard.
When running the app, I set the text using `String.fontAwesomeIconWithName`, but I only see a squared ? `[?]`
However, if before that anywhere in the app I call `UIFont.fontAwesomeOfSize` (probably because it calls the FontLoader) then it work as expected.

Is there anyway to get this to work without calling `UIFont

[2016-01-16 23:47] djdance opened #56 "need fontAwesomeIconWithUnicode"
For some reason my php sends me article icons got from *fontawesome.io* lists
**f0f6** (this is plain string, not Unicode character)

to convert it to **\u{f0f6}"** (singleUnicode  character) I have to do:

[code]

I think we need func doing this, a kind of *String.fontAwesomeIconWithUnicode*

[2016-01-17 23:00] elsurudo opened #57 "Doesn't work for Mac target"
Carthage says:
[code]

Looking at a bit of the source, it looks like it uses UIKit, but perhaps it is worth having this work on Mac as well. Thoughts?

[2016-01-20 02:25] dirajkumar opened #58 "Need UIImage.fontAwesomeIconWithName"
I think this found be a helpful function.

[2016-01-24 20:33] koenpunt commented on #58
That function already exists: https://github.com/thii/FontAwesome.swift/blob/master/FontAwesome/FontAwesome.swift#L75-L100

[2016-01-25 03:52] #58 closed

[2016-01-27 15:12] 0x686169 opened #59 "Does not work with Carthage at version 0.7.0"
![simulator screen shot jan 27 2016 10 08 55 pm](https://cloud.githubusercontent.com/assets/1132303/12617544/b1f764bc-c542-11e5-8e3b-e6b56345d73b.png)

I try use your lib with carthage :), unfortunately the awesome texts always wrong
my codes
self.navigationItem.rightBarButtonItem = UIBarButtonItem(title: String.fontAwesomeIconWithName( FontAwesome.PlusSquare), style: .Plain, target: self, action:

[2016-02-02 08:29] qx opened #60 "no such moudle !cocoapods,please check"
no such moudle ! try many times

[2016-02-03 19:03] gtwilliams03 commented on #55
I am having the same issue because I am trying to use emailAction.title = String.fontAwesomeIconWithName(FontAwesome.EnvelopeSquare) as an action button for an edit row in a UITableView.  Right now the icon doesn't load, and I can't find an available method to call on the button item to call UIFont.fontAwesomeOfSize.

<img width="373" alt="screenshot_2_3_16__2_02_pm" src="https://cloud.githubuserc

[2016-02-04 13:45] marekmatula opened #61 "Generic solution for other fonts"
I'm using vaadin icons in my java project.
https://vaadin.com/font-icons

Also many other free fonts exist:
http://speckyboy.com/2014/05/14/more-free-icon-fonts/

It should be nice to have some generic solution for font icons in swift.
Share common methods. Easy add new font. etc

Have you any idea how to do it?

[2016-02-05 03:35] thii commented on #54
Probably there was a problem with previous version of Xcode or the Swift compiler. Having no problem with Xcode 7.2 so I'm closing this now.

[2016-02-05 03:35] #54 closed

[2016-02-05 03:36] thii commented on #60
Please give us more details of the error.

[2016-02-05 03:51] thii commented on #59
You didn't set the font.

Here is an example on how to do it:

[code]

[2016-02-05 03:51] #59 closed

[2016-02-05 04:42] thii commented on #57
I would love to support all platforms including OS X, tvOS, and watchOS (possible?) but haven't made time for those. Pull-requests are welcome!

[2016-02-05 04:42] #57 closed

[2016-02-05 04:45] thii commented on #56
So you need to make your php sends you the icon name instead of the Unicode string. Or if you could write the `String.fontAwesomeIconWithUnicode` function it would be awesome.

[2016-02-05 04:45] #56 closed

[2016-02-05 04:52] thii commented on #61
It is impossible to do this since we need to store all icon names in enum in order to convert the icon name to the correct icon character/string. You can make a similar library for a specific font though.

[2016-02-05 04:52] #61 closed

[2016-02-09 18:47] Gerst20051 commented on #57
What do we need to do to support Mac? @thii @elsurudo

[2016-02-09 22:39] elsurudo commented on #57
I believe you'd need a target specific for iOS that uses and extends the UIKit classes such as UIFont, UIImage, etc. (this is what currently exists), and another target that uses and extends their AppKit counterparts (NSFont, NSImage, etc.)

And it would probably make sense to pull out the platform-independent code into somewhere separate, so it could be re-used between the two targets.

WatchOS w

[2016-02-10 03:18] thii commented on #55
@smaspe It would be possible to make `loadFont` publicly so you can call it only once but nevertheless it's impossible to set the font in the storyboard now. If you debug it, you'll see the font will be reverted to `Helvetica` at runtime.

[2016-02-10 03:18] #55 closed

[2016-02-10 03:18] thii commented on #60
Close due to lack of response.

[2016-02-10 03:18] #60 closed

[2016-02-10 06:04] thii commented on #51
Done via a28a25ddc2490a858b7e1666b9bd6ef208fff9e7.

[2016-02-10 06:04] #51 closed

[2016-02-14 12:52] luisgizirian opened #63 "Spinner support"
@thii, any ideas if it's possible to use the spinners?

[2016-02-14 15:25] thii commented on #63
@luisgizirian Can you please explain more clearly?

[2016-02-15 01:08] luisgizirian commented on #63
Of course @thii. Sorry about that.

Font awesome, has the ability to display [spinner icons](https://fortawesome.github.io/Font-Awesome/examples/#animated) (those used for "Loading..." kinda screens & overlays).  I think these is some CSS trickery on top of icons. Are these kind of animations also ported inside this swift library?

Hope I made myself clear this time! Thanks!

[2016-02-15 01:20] thii commented on #63
@luisgizirian You'll probably have to use UIAnimation to rotate the container  (UILabel...) of the icon you want to spin. I'll have to look into this to see if we can have spinner support inside this library.

[2016-03-15 09:32] ryan-blunden opened #66 "Carthage cannot from current master"
Xcode:  7.2.1, Build version 7C1002
Carthage: 0.15.1

Contents of `Cartfile: github "thii/FontAwesome.swift"`

[code]

[2016-03-16 05:16] thii commented on #66
Please use v0.7.0 when I'm investigating this.

`github "thii/FontAwesome.swift" "0.7.0"`

[2016-03-18 03:11] awesomeswift commented on #66
thanks @thii
more infos:

The following build commands failed:
	CompileSwift normal arm64 /Users/awesomeswift/Refactor/awesomeswift/awesomeswift/Carthage/Checkouts/FontAwesome.swift/FontAwesomeTests/FontAwesomeTests.swift
	CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler
(2 failures)
/Users/awesomeswift/Refactor/awesomeswift/awesomeswift/Carthage/Checkouts/FontAwesome.swift/Fo

[2016-03-29 12:31] qx commented on #60
@thii  sorry,long time no try.

[2016-04-05 13:39] PLozinski opened #67 "Question mark instead of icon"
Hi, I have small problem. After installation FontAwesome by using CocoaPoads I have seen question marks in rectangle instead of icon. I don't know why ... ?

[2016-04-07 13:38] tochi commented on #24
:+1:

[2016-04-09 16:23] wuaschtikus commented on #66
I am experiencing this too. With 0.7.0 & 0.7.1 with Xcode 7.3

[2016-04-10 17:58] steveatinfincia commented on #57
I [forked](https://github.com/infincia/FontAwesome.swift) and added OS X support. Have only done limited testing to ensure it actually loads and can display images, aspect/size may be off.

Currently using` #if os()` in a few spots with partially duplicated methods. They were all tiny anyway so not such a big deal, but it still seems a crude hack :) There has to be a better way, thoughts anyone?

[2016-04-10 23:22] mbenjamin618 commented on #67
I don't know if this is your issue but if you don't add the label.font = UIFont.fontAwesomeOfSize it shows a questions mark. Hope this helps!

[2016-04-11 01:05] thii commented on #57
@steveatinfincia Haven't try this yet but this might work maybe? Then you can use FAImage and FAFont to avoid duplicating code.

[code]

[2016-04-11 08:39] PLozinski commented on #67
Thanks for answer. I solved this problem by update Xcode to 7.3 version :+1:

[2016-04-11 08:39] #67 closed

[2016-04-11 13:39] steveatinfincia commented on #57
@thii That's what I tried first :P

Quickly found that `NSFont` doesn't seem to have an equivalent for `UIFont.fontNamesForFamilyName()`, though I ended up removing that from the OS X method anyway so the typealias approach it may work there. Do you think the dispatch_once token by itself is enough?

The NSImage extension needed different drawing calls, but those can probably be `#if`'d inside the

[2016-04-11 15:08] cactis opened #68 "How to work with my custom icon font?"
Hi,

I made some icon font by http://fontastic.me/
Is it possible to use it with FontAwesome?

thanks

[2016-04-11 17:42] ReedD commented on #66
:+1:

[2016-04-21 06:50] leizard commented on #21
import FontAwesome_swift currently doesn't work for me

[2016-04-21 07:08] leizard commented on #66
I have the same issue with `github "thii/FontAwesome.swift" >= 0.4.1` . While Cocoapod also not work, is manually coping files is the only way to install ?

[2016-04-21 07:12] thii commented on #66
@leizard `github "thii/FontAwesome.swift" "0.7.0"` should work.

[2016-04-22 05:27] leizard commented on #66
Hi bạn @thii :D ,
updated cocoapods to 1.0.0 beta 8 and I could use cocoa to install normally.
Thank you for awesome library.

[2016-04-27 13:03] Padarom commented on #66
Could be related (Carthage 0.15.1):

[code]

Even though I'm using `github "thii/FontAwesome.swift" "0.7.0"` as @thii suggested.

[2016-04-29 18:17] DavidGagne opened #69 "Combining Fonts"
Is it possible to use a label with text _and_ a fontawesome icon in it? Or can a label only have a single font?

[2016-04-30 03:22] thii commented on #69
NSAttributedString is your friend.

[2016-04-30 03:22] #69 closed

[2016-04-30 05:06] DavidGagne commented on #69
Yes, I found the answer a few minutes after I opened this issue. Sorry I forgot to update!
Thanks!

[2016-05-11 21:38] DavidGagne commented on #63
I, too, would appreciate this feature.

[2016-05-16 21:22] DKalachniuk opened #71 "cocoapods 1.0.0 crash"
Hi, since I updated to cocopods 1.0.0
I receive this crash

<img width="647" alt="screen shot 2016-05-16 at 23 20 23" src="https://cloud.githubusercontent.com/assets/2156751/15304305/dfd7ac5e-1bbc-11e6-8c3b-54e47ff40f17.png">

Please advice

this is my podfile

source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '8.0'
use_frameworks!

target 'MyApp' do
pod 'ECSlidingViewController', '~>

[2016-05-20 03:26] DavidGagne opened #72 "Icon as UIView"
I'm trying to set the disclosure indicator on a tableview to the FontAwesome CaretRight icon, which would be perfect for my app. Unfortunately I can't seem to do that because the .accessoryView property of the table cell must be of type UIView.

It would be great if this was an option in this pod. Thanks for considering it.

[2016-05-23 06:15] thii commented on #71
I couldn't replicate this.

[2016-05-23 06:16] #66 closed

[2016-05-23 06:16] #63 closed

[2016-05-23 06:28] thii commented on #72
[code]

[2016-05-23 06:28] #72 closed

[2016-05-23 14:57] DavidGagne commented on #72
Excellent! Thanks!

[2016-05-23 21:38] CAPIStkidd commented on #71
I'm getting this too. For what it's worth I'm getting this on a project which was previously using CocoaPods 0.39 or whatever the last non-beta one before 1.0 was, then when I upgrade to 1.0 I get this issue. Happens on FontAwesome.swift 0.7.1 and 0.7.3.

[2016-05-24 15:59] steventnorris-40AU opened #73 "Issues in Swift 2.0"
I am seeing two errors in Swift 2.0:

FontAwesome.swift
line 39: as should be as!
line 659: advance should be advancedBy

[2016-05-24 16:16] thii commented on #73
Are you using an old version? FYI FontAwesome.swift has only 129 lines.

[2016-05-24 16:16] #73 closed

[2016-05-31 06:38] thii commented on #71
@DKalachniuk @CAPIStkidd I could not replicate this. Can you send in a sample project that replicates this crash?

[2016-05-31 06:41] thii commented on #68
Yes, you can fork this project, replace FontAwesome with your font and update the `Enum.swift` to match your font's icons.

[2016-05-31 06:41] #68 closed

[2016-05-31 15:39] CAPIStkidd commented on #71
I can't send the main project I was working with for obvious reasons, but I just created a gutted version of it to recreate the issue to send... except the issue doesn't show up in the gutted version.

I'll see if I can diff the two and figure out anything good but yeah, this is weird.

[2016-05-31 15:50] thii commented on #71
@CAPIStkidd So there might be something wrong with your project's settings, not with this library. If you could make the gutted version crash, I'd be happy to help.

You might want to try removing this from your Podfile, `pod install`, re-add this, `pod install` again to see if it works.

[2016-05-31 16:26] CAPIStkidd commented on #71
And now my main project doesn't have the issue anymore either (as in, after doing an upgrade with CocoaPods 1.0 it no longer has the crash where it can't find the otf/bundle).

One thing to note is that I wasn't on board with the changes to the podfile syntax (everything has to be in a target) so I did that, maybe that had something to do with it.

http://stackoverflow.com/questions/34556991/pod-i

[2016-06-01 02:05] thii commented on #71
Correct! From [CocoaPods 1.0](http://blog.cocoapods.org/CocoaPods-1.0-Migration-Guide/),

[2016-06-01 02:05] #71 closed

[2016-06-06 08:34] natalia-osa opened #75 "Error during build"
During build (debug) I receive such errors:

    egrep: .../Pods/FontAwesome.swift: Is a directory
    egrep: .../Pods/Target Support Files/FontAwesome.swift: Is a directory

    Command /bin/sh emitted errors but did not return a nonzero exit code to indicate failure

In fact, project name generates it. What can we do with it not to have this error?

---
Xcode 7.3.1
FontAwesome.swift (0.7.3)

[2016-06-06 09:03] thii commented on #75
May I see a sample of your Podfile and your code?

[2016-06-06 09:32] natalia-osa commented on #75
Here is the Podfile:

[code]

And here is the code usage:

`textField.leftView = UIImageView(image: UIImage.fontAwesomeIconWithName(.FileTextO, textColor: UIColor.blackColor(), size: CGSizeMake(20, 20)))`

While performing pod install I got the version, which was 0.7.3.

[2016-06-06 10:38] thii commented on #75
I could not replicate the error. You might want to do a clean build and/or delete all derived data.

[2016-06-06 10:48] natalia-osa commented on #75
That was the first thing I've tried, unfortunately didn't help. It seems that my custom script (quite common in fact) is taking part in generating the issue:
[code]
I have flag treatWarningsAsErrors turned to true, so this is how I declare temporary hacks/warnings/todos. As far as I saw, it's quite a common scenario. Here it tries to iterate by .swift files, and your project is ending with .swift,

[2016-06-06 10:55] thii commented on #75
You forgot to set font for your button's titleLabel.

[2016-06-06 11:00] natalia-osa commented on #75
Probably I'll go with attributedText then.

Anyway, coming back to grep problem. It isn't a huge issue, because we can always change search paths, like I've written, so if you want you're welcome to close the issue. Or if you find it disturbing you can investigate the issue ;). Just having folder named `FontAwesome_swift` instead of `FontAwesome.swift` would fix it.

[2016-06-06 11:07] thii commented on #75
There is no folder named `FontAwesome.swift` in this project. CocoaPods makes it based on the pod name. The only way to fix it is creating a new podspec and deprecate the current one but I wouldn't do it at the moment.

I suggest you to integrate it using Carthage. The framework name in Carthage is just `FontAwesome `.

[2016-06-06 11:12] #75 closed

[2016-06-06 11:15] natalia-osa commented on #75
Ok, so to sum up for anyone else seeking help with this issue, there are 2 ways to bypass the issue:

1. Integrate it using Carthage instead of Cocoapods. The framework name in Carthage is `FontAwesome`.
2. Change search script so it begins on your own code instead of root folder (like in 5th post).

I totally agree deprecating the project because of such small detail is without any sense. Thanks

[2016-06-14 19:44] otymartin opened #76 "Swift 2.3 Syntax issues"
[code]

[2016-06-17 01:53] J-Arji opened #77 "fatal error"
hi
when i ruling program  app crash
in line           `  fontURL = bundle.URLForResource(name, withExtension: "otf", subdirectory: "FontAwesome.swift.bundle")!`
`error : fatal error: unexpectedly found nil while unwrapping an Optional value
`

can you help me ?

[2016-06-20 10:59] rocket-enterprise commented on #77
I have the same problem since ill updated to Cocoapods 1.0. Already tried:

removing cache, installing pods again, using new pod layout from 1.0. Removing pods from existing project and install everything new.

But with no success. But: When ill create a new project, everything works fine.

Thats weird (and there is another question here with the same problem)

[2016-06-20 20:13] ecnepsnai opened #78 "Swift 3.0 compatibility errors"
- FontAwesome.swift:37:36: `dispatch_once_t` is unavailable in Swift: Use lazily initialized globals instead
 - FontAwesome.swift:41:19: `fontNamesForFamilyName` has been renamed to `fontNames(forFamilyName:)`
 - FontAwesome.swift:59:21: Value of type `String` has no member `substringToIndex`
 - FontAwesome.swift:71:45: Missing argument label `name:` in call
 - FontAwesome.swift:85:136: `clearColo

[2016-06-20 20:24] thii commented on #78
Could you make a PR for those?

[2016-06-20 20:47] ecnepsnai commented on #78
Sure, should do it in a separate branch for now until Swift 3.0 is released this Sept.

[2016-06-23 02:48] ecnepsnai commented on #78
Hey @thii there's one thing I need your help with:

Swift deprecated dispatch_once and wants you to use lazy vars instead, can you take a look [at this function](https://github.com/ecnepsnai/FontAwesome.swift/blob/2a257083e9215e222a7a0a5f52823c44001eaf16/FontAwesome/FontAwesome.swift#L42) and do you have any ideas on how to refactor it to support lazy vars?

[2016-06-28 08:01] antonyalkmim opened #79 "Add FontAwesomeView"
I implemented a view that can be used directly in the storyboard and set which icon to use.

![captura de tela 2016-06-28 as 04 59 33](https://cloud.githubusercontent.com/assets/6514332/16408056/33db8f40-3ced-11e6-9967-b1f479fd088b.png)

Let me know if you'd like me to submit a PullRequest.

[2016-06-28 08:27] thii commented on #79
Cool! I would love to see that.

[2016-06-29 13:56] Rauleinstein opened #81 "3 dots instead of icon"
Hi, I'm experience some problems where I see 3 dots as ". . ." instead of the actual icon. Any suggestion on where might be the problem?

[2016-06-29 22:29] antonyalkmim commented on #81
Are you using UILabel? Try change width or height. Probably the UILabel is truncating your string icon.
If not succes, try using UIImage instead UILabel.

[2016-07-06 12:43] Rauleinstein commented on #81
That was the problem I've put the font size too big and some icons were truncating, putting the size font smaller solved my problem.
THANKS!
Some heroes doesn't wear capes.

[2016-07-07 10:32] Tulleb commented on #78
Hi guys, I would need this branch too to work along with CocoaPods.

Thanks @ecnepsnai for the help. Sadly I don't know about dispatch_once, can't really help out here.
Do you have any news about it @thii?

[2016-07-08 07:04] piyushkantm commented on #77
having same problem after updating to pods 1.0..

[2016-07-08 07:04] piyushkantm commented on #77
having same problem after updating to Cocoapods 1.0.. Any fix on this yet?

[2016-07-08 13:41] kush786 commented on #71
I have set the target then also I am getting the same issue!

[2016-07-08 18:31] cerebroo commented on #77
Cleaning the build folder ( Cmd + Shift + Alt + K ), fixed it for me.

[2016-07-11 22:58] marsman12019 commented on #77
I'm having the exact same issue.

[2016-07-12 00:14] piyushkantm commented on #77
@marsman12019
Do what @cerebroo said, clean the build folder and it will work

[2016-07-12 00:39] marsman12019 commented on #77
Cleaning the build folder didn't work for me, but reverting to a previous commit did.

[2016-07-16 20:57] joshhaug opened #82 "Incorrect `import` for CocoaPods"
The `import FontAwesome` command is invalid.

It should read `import FontAwesome_swift`

[2016-07-17 03:46] thii commented on #82
@joshhaug I believe it is written in README.

[2016-07-17 03:46] #82 closed

[2016-07-19 09:09] robcas3 commented on #79
I can't see FontAwesomeView in cocoapods yet, could you update?

[2016-07-19 17:35] antonyalkmim commented on #79
@thii can you update the podspec?

[2016-07-21 10:00] lhzbxx commented on #79
The work is great!
However, I can not use it in fact. I can not set a UIView as Font Awesome View.
I'm sure that I'm using the newest version (0.7.3). So, what's the problem?
Thanks!

[2016-07-21 12:32] thii commented on #79
Just updated the podspec to 0.8.0.

[2016-07-21 12:32] #79 closed

[2016-07-21 16:24] Tulleb commented on #78
Any updates guys...? @ecnepsnai @thii?

[2016-08-01 17:48] Tulleb opened #87 "AwesomeFontView incompatible with constraints"
When using it with Auto Layout Constraints, the label font is set before it did layout.

[2016-08-10 11:26] ServicePal commented on #81
Just FYI. This will also happen if you have a user who is setting "Larger Text" in Accessibility settings.

[2016-08-10 14:31] Rauleinstein commented on #81
Thanks for the info, I haven't thought about this. I will give it a try and see what happens in my app

[2016-08-10 14:31] #81 closed

[2016-08-10 15:52] RolandasRazma commented on #21
same error

[2016-08-11 20:25] Mike1707 commented on #77
For me it does not work and I have the same error. I also tried different builds with cocoapods (from 0.6.3 to 0.8.0).

[2016-08-16 06:36] chjk commented on #77
fontURL = bundle.URLForResource(name, withExtension: "otf", subdirectory: "FontAwesome.swift.bundle")!

Cocoapods 1.0.1
**it will not work on the simulator，but it works well on my iphone.**

**so...**
Manually
Drag and drop FontAwesome.otf and all Swift files into your project

[2016-08-25 00:19] mattgabor opened #90 "Repo name conflicts with run script"
Since the repo's name includes .swift, certain run scripts can confuse this with a swift file and cause errors. Is it possible to change the name to something like FontAwesomeSwift or FontAwsome_swift to eliminate these errors?

[2016-08-30 14:24] Hunter-Nomad opened #91 "Hi) How to fix this code to instead of the text was an icon"
Hi!
How to fix this code to instead of the text was an icon?

[code]

Thank you)

[2016-08-31 01:09] z3t0 opened #92 "OSX support"
Is there anyway to get this to work with OS X?

[2016-08-31 06:09] alexkafer commented on #91
Are you trying to make it so when a user clicks on the button (sends the IBAction), the text changes? Or just so the UIButton always has the Apple icon?

If you just want the UIButton to always use the icon, consider attaching the UIButton an IBOutlet and in the viewDidLoad use the code for the UIButton in the readme:

[code]

replacing button with the title you set the IBOutlet.

Otherwise, if yo

[2016-09-11 03:50] mtissington opened #93 "Swift 3.0"
Won't build with Swift 3.0

[2016-09-11 05:20] thii commented on #93
Check the `swift-3.0` branch.

[2016-09-11 05:20] #93 closed

[2016-09-11 05:20] #78 closed

[2016-09-11 05:20] #76 closed

[2016-09-11 05:20] #77 closed

[2016-09-11 17:19] mtissington opened #94 "Swift 3.0 branch - build issue"
In my pod file I have
  pod 'FontAwesome.swift', :git => 'https://github.com/thii/FontAwesome.swift.git', :branch => 'swift-3.0'

I'm getting the following two errors when trying to build in func setupViews

1) Center has been renamed to center

in layoutSubViews

2) CGRectMake in unavailable in Swift

[2016-09-12 03:21] mtissington opened #95 "fontLoader fails when using pod"
Bundle.url(...)! generates an exception when otf is not found ... the following resolve the problem

[code]

[2016-09-12 08:26] Tulleb commented on #94
@mtissington I don't know what @thii has in mind currently.
He was not answering for months and now he just closed every PR we submitted to fix Swift 3.0 compatibility without saying why...

You can still add this line to your Podfile if you need it:
`pod 'FontAwesome.swift', :git => 'https://github.com/Tulleb/FontAwesome.swift.git', :branch => 'swift3'`

[2016-09-12 21:34] mtissington commented on #95
It seems the 2.3 branch is working correctly, it's only broken in the 3.0 branch.

[2016-09-13 22:17] james-ff commented on #94
Having problems building this framework (on the swift-3.0 branch) with my project in Xcode 8, Swift 3.0.

[2016-09-15 08:00] thii commented on #94
Please use
`pod 'FontAwesome.swift', :git => 'https://github.com/thii/FontAwesome.swift.git', :branch => 'master'`

Due to an issue in CocoaPods, I haven't pushed to the master repo yet.

[2016-09-15 09:38] Tulleb opened #97 "Critical issue when using 0.11.1 with CocoaPods"
PR available

[2016-09-15 09:40] Tulleb commented on #94
Working but just one small issue left when using with CocoaPods.

Issue: #97
PR: #98

[2016-09-15 13:19] #97 closed

[2016-09-15 22:33] zahedul opened #99 "Show error after update xcode"
after updating xcode then show following error
<img width="1280" alt="screen shot 2016-09-16 at 4 33 14 am" src="https://cloud.githubusercontent.com/assets/1929044/18569779/b2f62dcc-7bc6-11e6-9582-d80bbfd3cea6.png">

[2016-09-15 23:19] phoney opened #100 "Illegal call to NSURL() in swift 2.3 branch"
In FontAwesome.swift, private class FontLoader, class func loadFont is the following line:

133 var fontURL = NSURL()

When this line is executed the below message appears in the console:

2016-09-15 15:45:02.628 MyApp[88418:7058884] -[NSURL init] called; this results in an NSURL instance with an empty URL string. Please use one of the documented NSURL initialization methods instead (initWithStrin

[2016-09-16 04:56] thii commented on #99
Which version are you using?

[2016-09-16 04:57] #94 closed

[2016-09-16 06:24] zahedul commented on #99
issue solved after adding
`pod 'FontAwesome.swift', :git => 'https://github.com/thii/FontAwesome.swift', :branch => 'swift-2.3'`

thanks

[2016-09-16 06:24] #99 closed

[2016-09-16 09:49] Tulleb opened #103 "FontAwesomeView has issues"
The font is set regarding not-initialized bounds values.

[2016-09-16 10:03] thii commented on #103
Can you rebase this?

[2016-09-16 20:59] kentya6 opened #106 "CocoaPods version is old"
Thanks for the awesome pod for the FontAwesome.

podspec version is 0.11.1, but CocoaPods version is 0.9.0.

Did you executed `pud trunk push` after [this](https://github.com/thii/FontAwesome.swift/commit/6362ea3310edf5895152696f6bab46ee5bdabbfd) commit?

[2016-09-18 13:47] PVKonovalov commented on #106
I have the same behavior too. In my pod update log:
... Using FontAwesome.swift (0.9.0) ..,

[2016-09-18 20:58] chrisdhaan commented on #106
I'm experiencing the same problem. Would it be possible to push the new podspec?

[2016-09-19 06:55] thii commented on #106
There is an issue in current CocoaPods which makes `pod trunk push` fails.
Please use the following for now:
`pod 'FontAwesome.swift', :git => 'https://github.com/thii/FontAwesome.swift', :tag => '0.11.1'`

[2016-09-19 06:55] #106 closed

[2016-09-19 06:55] #103 closed

[2016-09-19 10:57] PVKonovalov commented on #95
I have the save error for 0.11.1 tag with "fatal error: unexpectedly found nil while unwrapping an Optional value" message on that string:
var fontURL = bundle.url(forResource: name, withExtension: "otf")!
in FontAwesome.swift file. I think the swift program does not found the font in the bundle.

[2016-09-19 12:40] PVKonovalov commented on #95
I think the problem is in this place of FontAwesome.swift file:
var fontURL = bundle.url(forResource: name, withExtension: "otf")!
For CocoaPods that method is return nil. If you remove wrapping of  that string and add wrap to
let data = try! Data(contentsOf: fontURL!)
error will fixed.

[2016-09-19 14:35] arnaudlamy opened #108 "Update to FontAwesome 4.6"
Need to update OTF library to 4.6. I can do it if nobody is working on it. I guess some has already started it no?

[2016-09-19 18:07] thii commented on #108
Waiting for it. Please go ahead. Thanks in advance.

[2016-09-20 23:10] savagegus commented on #95
I had the same problem and this worked for me, +1

[2016-09-21 08:40] arnaudlamy commented on #108
Done, merge requested.

[2016-09-21 10:56] thii commented on #108
Looks like you opened 2 pull requests. Which one should I go with?

[2016-09-21 11:29] hslightnin opened #111 "Cocoapods at version 0.9.0"
`pod 'FontAwesome.swift', :git => 'https://github.com/thii/FontAwesome.swift'`
workaround

[2016-09-21 11:39] Anders123fr commented on #111
Yeah, please fix the Pod version :)

[2016-09-21 12:29] arnaudlamy commented on #108
I did one for Swift 2.3 and one for Swift 3.0, isn't what to do ?

On Wed, Sep 21, 2016 at 12:56 PM Thi <notifications@github.com> wrote:

[2016-09-22 12:05] tanujtak1986 commented on #108
Hi Guys, Can you please merge this , so that it is available. Need the new instagram icon.

[2016-09-22 16:26] #108 closed

[2016-09-23 04:38] tanujtak1986 commented on #108
Thanks a log guys. Appreciate it.

[2016-09-23 05:58] tanujtak1986 commented on #108
Hi @thii ,

I updated pods, but i still cant see the new instagram icon. The the icon displayed is still the old one.
Can you please look into this. Appreciate the help.

[2016-09-23 08:25] arnaudlamy commented on #108
You need to wait for a new release, or install it manually from sources.

[2016-09-23 08:45] tanujtak1986 commented on #108
Oh. Okay. Thanks.

[2016-09-26 16:36] msamoylov commented on #92
+1

[2016-09-29 10:52] RNUK opened #112 "Icon from array of icons?"
I'm adding icons to a tableview and I have an array of the icons I want. I've setup a label in the cell and I want to run through the array and pick out the icon to display, but I keep getting a EXC_BAD_Instruction error. Any ideas?

My code is as follows:

(cell?.contentView.viewWithTag(1)! as! UILabel).text = String.fontAwesomeIconWithName(FontAwesome(rawValue: String(format: "%@", icons[(indexP

[2016-10-02 17:36] Craytor opened #113 "Swift 3 Build Error"
I am receiving the following error when I try to build with Swift 3. Any ideas? Thanks!
<img width="787" alt="screen shot 2016-10-02 at 1 35 19 pm" src="https://cloud.githubusercontent.com/assets/3680866/19022375/31b265be-88a5-11e6-8e37-218cc7c8d386.png">

[2016-10-03 11:56] jeffeom commented on #113
Just do what it says 😄 : Xcode > Edit > Convert > To Current Swift Syntax fixes it for now.
I hope dev work on this in the future so people do not have to do this manually.

[2016-10-03 18:17] antonyalkmim commented on #113
The pod has not been updated, it is still v0.9.0 on CocoaPods. The podspec v0.11.1, compatible with swift3.0 was not pushed to CocoaPods.

Try this for now :
```pod 'FontAwesome.swift', :git => 'https://github.com/thii/FontAwesome.swift.git', :branch => 'master'```

[2016-10-03 23:03] Craytor commented on #113
Yes, when I had done what @antonyalkmim had said I get the above error. That's what I'm currently using in my Podfile.

[2016-10-03 23:41] wyland opened #115 "Rendering images in UIBarItem appears blurry in swift3 branch"
It appears the implementation of displaying the `UIBarItem.image` has changed in swift3, any iOS version.

Here is using an FA icon image in a swift2 `TabBarItem`
![swift2-tabbaritem](https://cloud.githubusercontent.com/assets/15018707/19057566/c4c1c882-899e-11e6-8efb-30a43dccbcf2.png)

Here is using an FA icon image in swift3 `TabBarItem`
![swift3-tabbaritem](https://cloud.githubusercontent.com/a

[2016-10-04 00:22] Craytor commented on #113
Never mind; updating cocapods to 1.1.0 fixed the issue.

[2016-10-04 00:22] #113 closed

[2016-10-04 00:39] antonyalkmim commented on #113
Try this workaround

Select : Pods > FontAwesome.swift > Build Settings
Then set 'Use Legacy Swift Language Version' to 'NO'

![captura de tela 2016-10-03 as 21 34 12](https://cloud.githubusercontent.com/assets/6514332/19058860/45e15cf4-89b1-11e6-91a8-e6b4121f0ac0.png)

or you can use this in your Podfile:
[code]

[2016-10-04 03:00] wyland commented on #115
After a bit more investigating, I believe this may be a problem with how xcode8 is rendering IBDesignable elements (I am setting these images using a UITabBarItem subclass and an IBInspectable property).  I confirmed that setting the tabBar's image programmatically from the viewController correctly renders without the loss in quality.  I'll go ahead and close this ticket and keep it around for ref

[2016-10-04 03:00] #115 closed

[2016-10-05 17:45] Rashesh-Bosamiya opened #116 "Swift 3 Pod"
What is to be write inside Podfile in order to download Font Awesome for Swift 3?

[2016-10-06 09:12] Akisazaki commented on #116
maybe this will work (in my case):

pod 'FontAwesome.swift', :git=>'https://github.com/thii/FontAwesome.swift.git'

[2016-10-06 16:05] Rashesh-Bosamiya commented on #116
This works.

Thank you.

[2016-10-07 20:23] bbeckley opened #117 "Xcode 8, Swift 3 - Older Version of the Compiler error"
Can we please get a version built with sdk 10.

Module file was created by an older version of the compiler; rebuild 'FontAwesome_swift' and try again:iphonesimulator/FontAwesome_swift.framework/Modules/FontAwesome_swift.swiftmodule/x86_64.swiftmodule

Xcode: Version 8.0 (8A218a)
Pod entry: pod 'FontAwesome.swift', :git=>'https://github.com/thii/FontAwesome.swift.git'

[2016-10-11 18:10] gabrielrigon opened #118 "Failed to render and update auto layout status"
These erros appears only when build on storyboard screen. Can someone help me?

![captura de tela 2016-10-11 as 15 02 54](https://cloud.githubusercontent.com/assets/18755408/19282297/10010ba2-8fc4-11e6-9eaf-c175ba082887.png)

[2016-10-12 07:22] doedje commented on #117
I had the same problem and the fix was (at least in my case) to [delete the contents of the DerivedData' folder](http://stackoverflow.com/questions/38016143/how-to-delete-derived-data-in-xcode-8)

[2016-10-12 09:15] strfn commented on #118
+1 can't get rid of this issue.

Sent from my iPhone

[2016-10-12 22:03] Craytor commented on #113
@antonyalkmim Updating cocapods to 1.1.0 fixed the issue.

[2016-10-13 13:38] OliverZiegler commented on #116
This still shows code changes and wants to convert syntax.
Code changes are the access level specifier.

With the `public` access level one prevents people from subclassing when using cocoapods.

See http://stackoverflow.com/a/38950955/2408916 for more information about changes and differences between `public`and `open`

[2016-10-17 20:56] zhihuitang commented on #76
why it was closed? I am experiencing the exact problem, have you guys fixed it? thanks

[2016-10-19 05:21] Fr0zenSide commented on #116
I can't use the last version of this framework directly with Swift 3 and cocoapods :
`pod 'FontAwesome.swift', '~> 0.11.1'`

Can you push the last podspec file on the cocoapods repo @thii ?
The projet seems ready to be used with the last release (project is tagged in 0.11.1, podspec file is up to date but you need to send this file to the cocoapods spec repo :

[code]

For now I use a static commi

[2016-10-19 06:38] LawrenceHan opened #120 "Is this repo a copycat?"
https://github.com/qiuncheng/FontAwesomeKit.Swift/issues

I found this repo has the same name with your repo.

[2016-10-19 07:06] thii commented on #120
No, as long as the license allows, everyone is freely to copy it or implement a new one. As long as I'm aware there are several other similar repos as well. The above author made his own since it serves him better than other available open source ones.

[2016-10-19 07:06] #120 closed

[2016-10-19 17:42] OliverZiegler commented on #112
Your strings in your array are not the raw values for the FontAwesome Enum.

Have a look in [Enum.swift](https://github.com/thii/FontAwesome.swift/blob/master/FontAwesome/Enum.swift) to check for the raw values.

Why don't you already define the enum values in your array like this:
(current version: 0.11.1 and swift 3)

[code]
and so you can create your Icons like:
[code]

[2016-10-19 21:16] OliverZiegler commented on #92
I started implementing this [here](https://github.com/OliverZiegler/FontAwesome.swift/tree/osx) but got some issues.

Icons get rendered only 2/3 into the images and labels and rest of icon is cut of at bottom.
Check out the macOS Demo.

If someone has any ideas PRs are welcome.

[2016-10-20 17:43] wess commented on #92
+1

[2016-10-20 20:34] OliverZiegler commented on #92
Check out current state.
Currently working with NSFont and NSImage.

Also try via Podfile:
`pod 'FontAwesome.swift', :git => 'https://github.com/OliverZiegler/FontAwesome.swift/tree/osx', :branch => 'osx'`

Would like to get feedback.

[2016-10-21 13:30] philhudson91 commented on #116
+1

[2016-10-22 03:28] #87 closed

[2016-10-22 03:29] thii commented on #90
This is undoable.

[2016-10-22 03:29] #90 closed

[2016-10-22 03:29] #91 closed

[2016-10-22 03:39] thii commented on #95
Fixed in `1.0.0`.

[2016-10-22 03:39] #95 closed

[2016-10-22 03:40] thii commented on #111
Please use `1.0.0`.

[2016-10-22 03:40] #111 closed

[2016-10-22 03:40] thii commented on #116
Please use `1.0.0`.

[2016-10-22 03:40] #116 closed

[2016-10-22 03:41] thii commented on #117
Please use `1.0.0`.

[2016-10-22 03:41] #117 closed

[2016-10-23 15:58] kavoskhajavi opened #121 "error"
error

Pods/FontAwesome.swift/FontAwesome/FontAwesome.swift:53:21: Value of type 'String' has no member 'substring'

FontAwesome.swift/FontAwesome/FontAwesomeView.swift:54:39: Type 'NSTextAlignment' has no member 'center'

[2016-10-23 16:54] doedje commented on #121
migrate to swift3 when using master branch. Or use the swift-2.2 or swift-2.3 branch when you did not yet migrate to swift3...

[2016-10-24 01:16] #121 closed

[2016-11-17 14:18] kmuralidharan91 opened #125 "Extraneous argument label 'name:' in call"
Before updating to xcode 8.1

i had like this
`        rightBarButtonItem.title = String.fontAwesomeIcon(name:.ellipsisH)
`

now it shows an error and auto-corrected like this
`        rightBarButtonItem.title = String.fontAwesomeIcon(.ellipsisH)
`

[2016-11-17 14:19] kmuralidharan91 commented on #125
@xslim @planetexpress69 @oliverdowling can you guys please help me to solve this

[2016-11-17 16:15] leesherwood opened #126 "Loading font manually"
Whilst FontAwesomeView allows us to easily use Font Awesome (FA) icons with interface builder (IB), it doesn't obviously cover all scenarios. One often use of this library is to use FA icons within UIButtons, however it doesn't seem possible to do this without dropping into code.

One way we can do this is to set the font of the uibutton to font awesome and copy and paste one of the icons as text

[2016-11-18 04:19] #125 closed

[2016-11-29 14:50] mohsinka commented on #118
Any update on this? Please help. I am experiencing the same.

[2016-12-07 13:06] Rashesh-Bosamiya opened #127 "Font awesome Animated icons?"
Does this library have animated icons?

http://fontawesome.io/examples/

[2016-12-08 02:02] thii commented on #127
No.

[2016-12-08 02:02] #127 closed

[2016-12-09 15:37] robcas3 opened #128 "watchOS support"
i can't install for watchOS

[2016-12-09 17:06] #128 closed

[2017-01-28 05:59] topclaudy opened #129 "Not working with Spritekit"
I tried to use the bundle in a Spritekit project. The icons are rendered as a square with a question mark.

[2017-02-09 18:16] Rashesh-Bosamiya opened #130 "UIImageView image size does not change."
`var imgPlaceholder = UIImage.fontAwesomeIconWithName(.PictureO, textColor: UIColor.black.withAlphaComponent(0.5), size: CGSize(width: 20, height: 20))`

`self.imgView.image = imgPlaceholder`

Above code says, `imgPlaceholder` is UIImage size of `20 x 20` and `imgView` is UIImageView from `storyboard` which is size of `80 x 80`.

So, the problem is `imgPlaceholder` is growing as per the size of `i

[2017-03-19 15:47] #100 closed

[2017-03-19 15:51] thii commented on #130
You need to change the size of imgPlaceholder.

[2017-03-19 15:51] #130 closed

[2017-03-19 15:51] thii commented on #129
Do you have a sample code with the issue?

[2017-03-19 15:53] #112 closed

[2017-03-27 17:55] let-aurn opened #131 "Does not compile using Swift 3.0.2"
Hi,

I just installed FontAwesome.swift using Cocoapod, but looks like it has not been upgraded to Swift 3.0.2 yet. Or is it?

Here is a piece of what Xcode complains about

FontAwesomeView.swift

<img width="1555" alt="capture d ecran 2017-03-27 a 19 48 08" src="https://cloud.githubusercontent.com/assets/13006409/24370113/79afc53a-1326-11e7-9b44-46af5780436d.png">

FontAwesome.swift

<img width="

[2017-03-28 04:12] thii commented on #131
I haven't published v3.0.2 to CocoaPods yet. You can point your Podfile to this repo directly.

[2017-03-31 15:38] djxmax opened #132 "Old version on cocoapods"
Hi,

The version available on cocoapods is 1.0.0. Can you update to 1.1.1 please ?

Thank you

[2017-04-01 04:24] thii commented on #132
Apologize for the delay. Just pushed the new version to CocoaPods now.

[2017-04-01 04:24] #132 closed

[2017-04-01 04:24] thii commented on #131
It has been published now.

[2017-04-01 04:24] #131 closed

[2017-04-10 15:06] moonvader opened #133 "Bold text or any other customization"
How can I customize text for example in UIButton - when I want to use FontAwesome and bold or semibold text?

[2017-05-16 04:41] Genhain opened #137 "String without setting font gives "?""
Im attempting to set a "title" property of a view controller which does not give me access to the font and it returns a "?" symbol.

is there anyway to make this work? like it does with unicode characters?

`self.title = String.fontAwesomeIconWithName(.Ambulance)`

[2017-05-16 11:13] thii commented on #137
You have to change the font of the view controlle title.

[2017-05-16 11:13] #137 closed

[2017-05-24 13:25] JaapWeijland opened #139 "Button TitleView shows quesionmark"
I installed the pod with:

`pod 'FontAwesome.swift', :git => 'https://github.com/thii/FontAwesome.swift'`

I'm importing:

`import FontAwesome_swift;`

...and I am setting the titleview. The 'cell.addButton' is a common UIButton:

`cell.addButton.setTitle(String.fontAwesomeIcon(name: FontAwesome.plus), for: .normal);
`

This is showing me a questionmark. I added FontAwesome.otf to the project and

[2017-05-24 14:09] Maik639 commented on #139
You have to update the font of the label. Setting the font will display the correct character. Keep in mind that every character is just an hex-code represented within an font. If that code doesn't exist, the character can not be represented.
See: https://developer.apple.com/reference/uikit/uilabel/1620532-font

[2017-05-25 20:11] heyitswither opened #140 "No such module 'FontAwesome'"
I get the error' No such module FontAwesome' after both trying to install FontAwesome.swift with cocoapods and manually.

[2017-05-26 16:10] synndicate opened #141 "Trying to create an image of size 0 causes fatal error"
**Edit:** Using FontAwesome.swift (1.2.0)

I know it doesn't make too much sense to try creating an image of size zero, (I was trying to create a placeholder that I could resize later), but would be nice if it didn't crash the

To reproduce:
[code]

Problem function:
[code]

Error:
`fatal error: unexpectedly found nil while unwrapping an Optional value`

[2017-05-27 06:51] nferruzzi commented on #140
import FontAwesome_swift

[2017-05-27 16:32] thii commented on #141
It would actually return nil if we allow it to return nil here. Therefore you can't create a size zero image and then resize it later (you can't resize a nil). I suggest to create an image with size 1x1 (or even smaller 0.1x0.1 etc) which should also fit your need.

[2017-05-29 09:40] anfriis opened #142 "Missing documentation in README on Storyboard support"
I see in the recent commits that there is support for usage in Storyboards.

Could you provide som documentation in the README on how to use it?

[2017-05-29 10:36] #141 closed

[2017-05-30 08:13] anfriis opened #143 "Crash during runtime: `dyld: lazy symbol binding failed: Symbol not found`"
I had version 1.1.2 installed using Carthage.
After updating to 1.2.0, the app compiles fine, but during runtime when executing `UIImage.fontAwesomeIcon(...` the app crashes with the following error:

dyld: lazy symbol binding failed: Symbol not found: __TIZFE11FontAwesomeCSo7UIImage15fontAwesomeIconFT4nameOS_11FontAwesome9textColorCSo7UIColor4sizeVSC6CGSize15backgroundColorS2_11borderWidthV12Core

[2017-05-30 11:43] Maik639 commented on #142
I added some documentation and an example project. Would be nice, if you have a look at it and leave feedback.

[https://github.com/thii/FontAwesome.swift/tree/feature/storyboard-support-documentation](url)

[2017-05-30 15:21] heyitswither commented on #140
@nferruzzi

yeah, i tried that and `import FontAwesome`

[2017-05-30 15:25] thii commented on #140
@heyitswither It works for us though. Could you share a sample project which reproduces the error?

[2017-05-30 15:26] heyitswither commented on #140
@thii i will get one in a few hours

[2017-05-30 19:26] #140 closed

[2017-06-01 13:54] #139 closed

[2017-06-06 02:13] cesarmtz93 commented on #142
@anfriis any idea on how to use it with storyboards?

[2017-06-06 20:04] anfriis commented on #142
Yeah the documentation and the example project is great.
Thank you!

[2017-06-06 20:04] #142 closed

[2017-06-14 06:07] 36bydesign opened #145 "Swift 4 update?"
Shouldn't take long, but I can't figure out how to get rid of this error:
"Cannot convert value of type '[String : Any].Type' to expected argument type '[String : Any]'.
#amateurlife

[2017-06-15 10:01] DKalachniuk opened #147 "XCODE9 issue carthage update --no-use-binaries --platform iOS fails"
Hi,
I'm using Xcode9 beta 1
call carthage update  --no-use-binaries --platform iOS

before that I did
xcode-select --print-path
sudo xcode-select --switch /Applications/Xcode-beta.app/Contents/Developer

I receive these errors in terminal

*** Building scheme "FontAwesome" in FontAwesome.xcodeproj
** BUILD FAILED **

The following build commands failed:
        CompileSwiftSources normal armv7 com

[2017-06-18 01:43] dsowsy opened #148 "Compile time slowdown, and possible fix."
I've been profiling one of my projects and noticed a slow compile time in Swift 4 with XCode 9.
(-warn-long-function-bodies=100 in Swift other linker flags)

700ms in the function:
[code]
By more explicitly setting the dictionary as:
[code]
and
[code]
Brings the compile time down to less than 100ms.

[2017-06-21 04:23] haithngn opened #149 "Some icon cannot be made an image"
Hi,

eg. .paw, .send, etc... cannot be make an image, they become question sign

[code]

![screen shot 2017-06-21 at 11 19 41 am](https://user-images.githubusercontent.com/22902671/27366963-cf6084f2-5673-11e7-8a75-7f2c2c85e502.png)

[2017-06-22 01:32] schystz commented on #76
Was experiencing this too when running the project on Xcode 8.2.1 with use swift legacy version enabled, it works fine in Xcode 7 though.

[2017-06-22 03:07] otymartin commented on #76
@schystz no i just dropped the library.

[2017-06-22 03:09] schystz commented on #76
Oh okay. I was able to make it work by pointing the podfile to the `swift-2.3` branch

[2017-06-24 17:14] mattdeckard commented on #147
Same issue using CocoaPods.

[2017-06-25 04:15] thii commented on #147
This has been fixed in #146.

[2017-06-25 04:15] #147 closed

[2017-06-25 04:17] thii commented on #149
@haithngn Is that applied to all icons?Or just some icons above?

[2017-06-25 04:22] haithngn commented on #149
@thii , I have not tried others icons yet

[2017-06-25 05:30] thii commented on #149
@haithngn Could you try? If they all don't appear as icons, then there might be something wrong with your app.

[2017-06-25 05:32] haithngn commented on #149
@thii I will try and report on Monday :)

[2017-06-25 05:33] thii commented on #145
@36bydesign Could you please explain in more details? A sample project would help a lot.

[2017-06-25 05:35] thii commented on #143
You might not have added the framework correctly.

[2017-06-25 05:36] #129 closed

[2017-06-25 13:37] anfriis commented on #143
Yeah but the point is that it works when downgrading to 1.1.2, so I guess it should also work using version 1.2.0.. Haven't changed the way the framework is added

[2017-06-25 14:31] thii commented on #143
I could not reproduce the issue. Do you have a sample project which reproduce your issue?

[2017-06-26 03:26] haithngn commented on #149
@thii ,
I have tried with another icons then here are the report

![screen shot 2017-06-26 at 10 25 20 am](https://user-images.githubusercontent.com/22902671/27523794-d61d3d6e-5a59-11e7-91ea-03a0f7ee1043.png)
![screen shot 2017-06-26 at 10 25 34 am](https://user-images.githubusercontent.com/22902671/27523796-d64506be-5a59-11e7-846a-02fb7ef582da.png)

[2017-06-26 09:07] thii commented on #149
@haithngn It looks like the issue was with your custom bar buttons.

[2017-06-26 09:14] haithngn commented on #149
@thii some icon like calendar, close, bell work ok.
I have tried with another Framework that has same problem with FontAwesome font.
Now, I have to use the Material font instead.

[2017-06-26 10:41] #149 closed

[2017-06-26 10:42] #145 closed

[2017-06-26 15:13] haithngn commented on #149
thanks @thii

[2017-07-19 11:48] schystz opened #150 "FontAwesomeTabBarItem.swift:58:24: Use of undeclared type 'ImageConfig'"
Hi guys, first I want to thank you for bringing FontAwesome to iOS! You guys are really awesome! I have been using the library on a project which is written in Swift 2 and I've been very happy so far. I recently migrated to Swift 2.3 and it worked out fine. But now I am working on migrating it to Swift 3 and started getting a problem with FontAwesome. Upon building, I got two errors immediately fr

[2017-07-19 13:07] thii commented on #150
@schystz Hi, thanks for reporting the issue. I really appreciate it.

Looks like you are using an outdated version of Xcode. Could you please update your Xcode and try again? If the problem still persists, please make a sample project which reproduces the problem, I will try to investigate into it.

[2017-07-19 13:53] schystz commented on #150
Thank you for the quick reply @thii !

The latest version of Xcode I can install on El Capitan is Xcode 8.2.1, thus I am stuck with it until I have migrated the project to Swift 3 and make sure it works. Until then I can only update my OS and install higher version of Xcode :(

Please see below project I quickly created to demonstrate the issue - https://github.com/schystz/FontAwesomeProject

[2017-07-19 17:11] thii commented on #150
I could build your project successfully without any issue on Xcode 8.3.3, so the problem is probably with Xcode 8.2.1. There are workarounds to install Xcode 8.3 on El Capitan (like [this](https://github.com/michalzelinka/Xcode83onElCapitan)) so might want to consider those. You might not be able to submit your app to the App Store with the modified Xcode but you can always use CI services for tho

[2017-07-19 17:11] #150 closed

[2017-07-20 00:26] schystz commented on #150
Phew, I got it working by downgrading to FontAwesome 1.1.0

[2017-07-26 14:27] Rashesh-Bosamiya opened #151 "Animated icons. e.g. (Loader etc.)"
Would love to have animated icons in iOS similar to, provided in FontAwesome web kit.

[2017-07-26 15:11] thii commented on #151
It is not possible, given the framework just renders the font to UIImage.

[2017-07-26 15:11] #151 closed

[2017-08-01 21:50] chadhobson opened #152 "cle"

[2017-08-01 21:50] #152 closed

[2017-08-05 22:20] doodzik commented on #145
I've encountered the same problem when updating to swift 4

[2017-08-10 13:55] thii commented on #143
Close due to lack of response.

[2017-08-10 13:55] #143 closed

[2017-08-11 02:15] thii commented on #148
Thanks for your suggestion. I fixed it in ee6db527bec1c0494221a4e1f65073263c8ae97e.

[2017-08-11 02:15] #148 closed

[2017-09-01 20:02] patchthecode opened #154 "This is not working on interface builder. I see a question mark. Any help?"
I dragged a UILabel unto storyBoard.
Then i changed the font to font awesome.
Then i pasted the icon -> 

It displays correctly on story board. But when i run the app, i am seeing a question mark.

Can you let me know the proper way to handle this on Interface builder/ Story board, with a UILabel?

[2017-09-02 07:46] wgpsutherland opened #155 "Cocoapods crash on runtime"
Hi there, I am copying the details of the question I have asked in [this](https://stackoverflow.com/questions/46011572/fontawesome-swift-cocoapods-crash-on-runtime) stack overflow question.

I am attempting to use the library [thii/FontAwesome.swift][1] in my iOS project in XCode. I have been using it successfully by having the fontawesome library copied and pasted into my project, however I am no

[2017-09-02 08:26] thii commented on #154
Probably the font was not loaded into memory before your storyboard was loaded. Do you have a sample project which reproduces this?

[2017-09-14 13:06] ghowen opened #157 "Deprecation warning on Xcode 9 GM with Swift 4"
FontAwesome.swift:53:30: 'substring(to:)' is deprecated: Please use String slicing subscript with a 'partial range upto' operator.

[2017-09-21 11:47] james-ff commented on #154
For me this happens whenever the alpha of a previously working image changes or is set initally. See gif (buttons that turn to ? were clicked on which changes alpha by default)
![2017-09-21 12 43 49](https://user-images.githubusercontent.com/1874352/30694223-feaa793a-9eca-11e7-841e-15c9c8a8e181.gif)

[2017-09-21 11:55] james-ff commented on #154
`let barButtonItem = UIBarButtonItem.init(title: "", style: .plain, target: target, action: action)
        barButtonItem.setTitleTextAttributes([NSAttributedStringKey.font: UIFont.fontAwesome(ofSize: iconSize)], for: .normal)
        barButtonItem.title = "  \(String.fontAwesomeIcon(name: name))  "
        barButtonItem.tintColor = color
        return barButtonItem`

[2017-09-22 09:37] shuuja commented on #157
@ghowen did you use this pod in swift 4?
i am facing errors in this

[2017-09-22 10:42] georgealegre commented on #157
@ghowen @shuuja There is a swift-4.0 branch. I'm using it with Cocoapods in my project and it works perfectly.

[2017-09-22 10:53] ghowen commented on #157
@georgealegre Great, thanks.
@shuuja Installing the pod from the source helped me to get the right version. So instead of
`pod 'FontAwesome.swift'`
you need
`pod 'FontAwesome.swift', :git => 'https://github.com/thii/FontAwesome.swift.git', :branch => 'swift-4.0'`
in your podfile.

[2017-09-22 13:14] PascalMinder commented on #157
The build seems to be failing:
[code]

[2017-09-24 08:13] thii commented on #157
@PascalMinder Which branch are you building from?

[2017-09-24 12:43] PascalMinder commented on #157
I use the swift-4.0 branch.

[2017-09-24 13:48] ghowen commented on #157
@PascalMinder Is the Swift version of the pod set to 4.0?
![image](https://user-images.githubusercontent.com/390784/30783243-5e41ccae-a137-11e7-942e-4fe42bb2250e.png)

[2017-09-24 21:03] electic commented on #154
I have the same problem. I ended up just making them images :( I am using 1.2.0

[2017-09-25 13:13] james-ff commented on #154
@thii Is this a quick fix?

[2017-09-25 15:11] EpicHEpic opened #160 "Does not work with Swift 3.2"
<img width="502" alt="screen shot 2017-09-25 at 8 11 33 am" src="https://user-images.githubusercontent.com/9756558/30815836-2f4f187e-a1c9-11e7-8abf-8b9d8e3e07a5.png">

[2017-09-25 19:41] PascalMinder commented on #157
@ghowen No I haven't

[2017-09-27 13:36] thii commented on #160
You have to recompile it with Swift 3.2.

[2017-09-27 13:36] #160 closed

[2017-09-27 14:13] thii commented on #154
I'll try to have a look at it sometime this weekend.

[2017-09-27 14:53] Maik639 commented on #154
Haven't tested it, but im pretty sure you have to set title text attributes for selected (and other) states too.
When selecting / pressing the button it changes to selected state and the title text attributes will be unset for that state.

[2017-09-27 15:06] patchthecode commented on #154
yea.. maybe for a UIButton. But it doesnt work for a UILabel.

[2017-09-29 22:00] phoney commented on #154
@james-ff @Maik639 This is a change in iOS 11 where setting textAttributes for themes or for controls requires setting the text attributes for both .normal and .highlighted.

[2017-10-02 16:20] gangelo commented on #157
Compile errors using Carthage.

**Cartfile:**

# Font Awesome for Swift
github "thii/FontAwesome.swift"

**Errors:**

/Users/johndoe/dev/iOS/Accumoo/Carthage/Checkouts/FontAwesome.swift/FontAwesome/FontAwesome.swift:103:13: error: use of unresolved identifier 'NSAttributedStringKey'
            NSAttributedStringKey.font: UIFont.fontAwesome(ofSize: fontSize),
            ^~~~~~~~~~~~~~~~~~~~~
Foun

[2017-10-05 03:53] xiandong79 commented on #21
same error

[2017-10-10 06:37] electic opened #161 "Push to coocapods?"
I noticed 1.3.0. Do you have plans to push it to cocoapods?

[2017-10-12 08:58] isseium commented on #161
+1

[2017-10-14 06:38] thii commented on #161
Sorry for the delay. It has just been pushed to CocoaPods.

[2017-10-14 06:38] #161 closed

[2017-10-15 10:03] Tulleb opened #162 "Conversion to Swift 4"
Now that Swift 4 is officially released, could we merge the `swift-4.0` branch into `master`?

[2017-10-15 13:52] thii commented on #162
It has already been merged into master.

[2017-10-15 19:09] Tulleb commented on #162
Oops my bad @thii... I was stuck on an older version because of my `Podfile`, sorry.

Thanks for the work!!

[2017-10-15 19:09] #162 closed

[2017-10-17 11:27] dansinclair25 opened #163 "Compile Error"
Hi all,

I know there's an issue that's similar to what I'm about to describe, but seeing as mine is slightly different I thought it best to post a new issue.

I'm installing FontAwesome_Swift via cocoapods, using version 1.3.0, targeting iOS 10.0, and my project is in Swift 3.2.

Below is a screenshot of the compile error I'm getting.

<img width="1284" alt="screen shot 2017-10-17 at 12 24 12" sr

[2017-10-17 15:07] phoney commented on #155
What is your code that calls this method?

[2017-10-21 03:25] #157 closed

[2017-10-24 18:54] bradd-pktlzyer commented on #154
I had the same issue, shows in storyboard and ? in app. I walked the FontFamily and noticed font wasn't loading as I only used it in storyboard, I added a call to `UIFont.fontAwesome(ofSize: 16)` which installs the font via private FontLoad class. Worked after that.

[2017-10-26 09:03] M-HERBRICH-ITC opened #165 "Questionmark sign on press (BarButtonItem)"
Hi,
I'm using this framework and when I set FontAwesome icon to BarButtomItem in NavigationBar, I have the problem that on pressing, the icon disappears and it's showing a question mark sign.

How can I solve this?

`let attributes = [NSAttributedStringKey.font: UIFont.fontAwesome(ofSize: 20)] as [NSAttributedStringKey: Any]

self.leftMenuButton.setTitleTextAttributes(attributes, for: .normal)

se

[2017-10-26 12:29] M-HERBRICH-ITC commented on #165
Could fix it by adding `self.leftMenuButton.setTitleTextAttributes(attributes, for: .selected)`

[2017-10-26 12:29] #165 closed

[2017-10-26 12:32] M-HERBRICH-ITC opened #166 "Combination of icon + text -> text gets cutted"
I'm using an font-awesome icon + some text string and e.g. the letter "g" gets cutted on the bottom.

![bildschirmfoto 2017-10-26 um 14 27 51](https://user-images.githubusercontent.com/4866997/32052986-1e6503f8-ba5a-11e7-8de1-cf63d7760e6b.png)
![bildschirmfoto 2017-10-26 um 14 28 03](https://user-images.githubusercontent.com/4866997/32052987-1e7e5fec-ba5a-11e7-9434-2c65c1ea773c.png)

My code for t

[2017-11-02 09:15] ghowen opened #167 "Xcode 9.1 introduced 3 new compiler warnings"
Pods/FontAwesome.swift/FontAwesome/FontAwesomeTextRepresentable.swift:25:40: Redundant layout constraint 'Self' : 'AnyObject'

Pods/FontAwesome.swift/FontAwesome/FontAwesome.swift:53:37: 'characters' is deprecated: Please use String or Substring directly

Pods/FontAwesome.swift/FontAwesome/FontAwesome.swift:54:51: 'characters' is deprecated: Please use String or Substring directly

[2017-11-03 06:59] thii commented on #167
Thanks for reporting - want to submit a PR?

[2017-11-03 16:22] Fujikatoma opened #168 "FontAwesomeBarButtonItem.swift:49:40: Argument labels '(rawValue:)' do not match any available overloads"
I got this 3 errors. Using the newest Xcode and FontAwesome.swift version. Downloaded over cocoapod

/FontAwesome.swift/FontAwesome/FontAwesomeBarButtonItem.swift:49:40: Argument labels '(rawValue:)' do not match any available overloads

/FontAwesome.swift/FontAwesome/FontAwesomeBarButtonItem.swift:52:24: Type 'NSAttributedStringKey' (aka 'NSString') has no member 'font'

/FontAwesome.swift/FontAw

[2017-11-03 23:01] caseydedore commented on #168
Under similar circumstances I got this as well. For a temporary fix, I explicitly set the exact commit I want for FontAwesome in my podfile. I am using 1.2.2, but your needs may vary:

`pod 'FontAwesome.swift', :git => 'https://github.com/thii/FontAwesome.swift.git', :commit => '089b9acc35'`

[2017-11-08 10:38] ahmedsafadii commented on #167
Redundant layout constraint 'Self' : 'AnyObject'

[2017-11-10 08:34] OlafAndreas commented on #168
This might be caused by the fact that the latest FontAwesome.swift uses Swift 4 and your Xcode environment is still using Swift 3.2, hence Xcode does not recognize the init overloads and the NSAttributedStringKey.font. Make sure you're using Swift 4 before using the latest FontAwesome version.

[2017-11-12 13:16] ahmedsafadii commented on #167
didn't fixed 'Redundant layout constraint 'Self' : 'AnyObject''

[2017-11-12 13:33] thii commented on #167
@ahmedsafadii Do you want to submit a PR to fix it?

[2017-11-14 14:21] OlafAndreas commented on #155
This function will always crash if you pass a size parameter that has a width or height value of `0`. This is because the `NSAttributedString` is never drawn to the image context since it has a size that doesn't fit any content.

One solution to fix this problem is to change the return type to `UIImage?` to mark it as an optional and remove the forced unwrap of `image`. This will have a huge impac

[2017-11-14 18:19] OlafAndreas commented on #133
I would be happy to work on this feature, but it should be made more clear what the goal is before putting in work on this matter.

[2017-11-14 18:42] OlafAndreas commented on #167
It is fixed in [this](https://github.com/thii/FontAwesome.swift/commit/bc4e0636e0b2dd888665c538c73bcf96fe8fc91b) commit, but the changes aren't released in a pod version yet.

[2017-11-15 08:40] #126 closed

[2017-11-15 08:40] #155 closed

[2017-11-15 09:51] NickGaens opened #171 "Swift 4 compatibility"
Added this to my project via Cocoapods; trying to build my app using Xcode 9.0 (9B55) / Swift 4 and several compiler errors have popped up, most of which represent Swift 4 incompatibilities.

[code]

There are some other compiler errors as well:

`/Users/nickgaens/.../Pods/FontAwesome.swift/FontAwesome/FontAwesomeBarButtonItem.swift:48:36: Cannot convert value of type '[String : Any]' to expected

[2017-11-15 09:54] NickGaens commented on #171
Hmmm, I took a second look at the installed pod and it seems v1.2.0 has been installed.

[2017-11-15 10:01] NickGaens commented on #171
Apologies, my 'local specs repositories' were outdated. After having run `pod update`, the installed pod got updated from v1.2.0 to v1.3.1 after which the compiler issues disappeared.

[2017-11-15 10:01] #171 closed

[2017-11-15 11:55] #167 closed

[2017-11-16 08:10] OlafAndreas commented on #166
This can be caused by the height of the button not making room for the titleLabel content. Can you make sure this isn't the case?

[2017-11-16 08:13] M-HERBRICH-ITC commented on #166
@OlafAndreas
Height is fine. Tested even much too big label and still occurs

[2017-11-16 08:55] OlafAndreas commented on #166
I was able to reproduce the problem you're describing.
One solution might be:
1. Create a NSMutableAttributedString for the icon with FontAwesome font.
2. Create a NSAttributedString for the title with the font you want.
3. Append title string to icon string.
4. Set setAttributedTitle of button with the icon string.

Note: the fonts used should have the same size or else they will not align on the

[2017-11-22 11:42] OlafAndreas commented on #168
After no response from OP i think this issue should be closed for now. Please reopen or create a new issue if you need further assistance.

[2017-11-22 11:42] #168 closed

[2017-11-22 13:29] OlafAndreas commented on #118
So this is an old issue getting no response and will be closed if we don't get any more details describing the errors you're experiencing.

You can check your build logs in `~/Library/Logs/DiagnosticReports`.

[2017-11-22 21:39] #118 closed

[2017-12-04 22:53] StefanDesu commented on #166
@OlafAndreas
I just had the exact same issue as @M-HERBRICH-ITC, so I tried your solution and wanted to let you know that it worked perfectly! For anyone who likes to just copy and paste:

`let icon = NSMutableAttributedString(string: String.fontAwesomeIcon(name: .cog), attributes: [.font: UIFont.fontAwesome(ofSize: 17)])`
`let text = NSAttributedString(string: " Settings", attributes: [.font: UIF

[2017-12-05 08:55] OlafAndreas commented on #133
The solution to this issue is in the same alley as #166. Please follow that issue for further info.

[2017-12-05 08:55] #133 closed

[2017-12-05 08:57] OlafAndreas commented on #166
I'm glad to hear it, maybe this is something that could be implemented into the framework.
@thii, what do you think?

[2017-12-05 09:01] OlafAndreas commented on #154
Could someone confirm if in fact #170 provides a solution to this issue using: `UIFont.loadFontAwesome()` ?

[2017-12-12 17:24] Ruckt opened #174 "Icon Display"
The ReadMe does not show the icons available nor provide a link to where I can see the name and how each icon looks like.

[2017-12-14 03:24] #174 closed

[2017-12-19 08:11] korbklein opened #176 "Font Awesome 5 support"
Font Awesome 5 is available! Please update your library

[2018-01-03 19:16] james-ff commented on #154
This has mostly been fixed by, as mentioned by @phoney applying attributes for multiple UIControlState enums, but the issue remains when a control is set to disabled (even though .disabled is used when setting the attributes).

[code]

[2018-01-07 12:15] ghowen commented on #176
@thii: Any plans on updating to FA 5? Love your library, so this would be greatly appreciated. Thanks!

[2018-01-07 15:06] thii commented on #176
I guess updating the font file and the `FontAwesome` enum and it's done? A PR would be greatly appreciated.

[2018-01-07 15:15] ghowen commented on #176
Yes and no :) FA 5 now has free, pro and brand icons. Also icons are available in solid, normal and light styles, making it 7 different fonts altogether.

[2018-01-08 14:07] OlafAndreas commented on #176
I don't see any solution to supporting the pro version, my suggestion is to implement FA 5 free with solid, normal and light styles.

Pro version:
Since this cost 50$ per user, it doesn't make sense in serving the font via this pod. Maybe the font could be injected into the pod so that it can be used with the convenient wrapping this project provides.

Thoughts?

[2018-01-09 11:17] ghowen commented on #176
It would probably also good to check in with the FA team. One of their Kickstarter goals was to support iOS and Android, although they did not specify in which way. Maybe they can support or sponsor this project? Last time I checked with them about this (about a month ago) Rob from FA said "It's on the list and we'll get to it as soon as we can."

[2018-01-09 18:41] james-ff commented on #154
@thii
Any progress on this issue?
To summarise my recent findings:
- Holding down on a bar button doesn't cause the ? mark effect
- Setting a bar button to disabled does
- This occurs despite setting all of the UIControlStates as in my last comment
- It seems that the UIControlStates addition fixes holding down, but not disabling a button
Many thanks for your hard work!

[2018-01-12 09:55] OlafAndreas commented on #154
@james-ff
Are you using `FontAwesomeBarButtonItem` as a custom `UIBarItem` ?
If not, you should try that. I managed to reproduce what you're describing by not using `FontAwesomeBarButtonItem` and fixed it by setting the custom `UIBarItem`.

[2018-01-12 10:02] #166 closed

[2018-01-12 13:28] james-ff commented on #154
Could you provide sample code? I get the same outcome with the same setup of FontAwesomeBarButtonItem, and with just setting the title to cssCode I always get ?

[2018-01-12 14:09] phoney commented on #154
@james-ff Can you setTitleTextAttributes for each of the states separately, without using the option set? That's how I've done it.

When you tap on the barButtonItem, as shown in your video, the state of the barButtonItem changes to highlighted or selected, and apparently it doesn't know what to do in those cases.

[2018-01-12 14:47] doedje commented on #176
I am a bit on the I-don't-know-side with FA5. Since it is a new design I wouldn't blindly replace the font in any of my projects with FA5. It does have a different look and feel to it. As a developer you should at least have the choice to stick with FA4 or go with FA5....

By the way, the free version of the font only supports the "solid" style, the normal and light styles are Pro icons. Which mak

[2018-01-12 14:51] ghowen commented on #176
In 5.0.2 free there are 3 fonts: Free regular, Free solid and Brands Regular.

@doedje: If the support for FA5 is a major version bump of FontAwesome.swift, then you could still use the current version in the projects that need FA4. Would this work for you?

[2018-01-12 15:21] james-ff commented on #154
@phoney
That worked!
[code]
It seems that setting UIControlStates as an array of options has issues, which is a shame because it means less dry code. Would this be an issue with swift or this library?
Many Thanks @phoney!

[2018-01-12 21:32] phoney commented on #154
I think it's a UIKit issue and I think it's new in iOS 11. Neve filed a bug though. Before that you could set the theme for .normal and it applied to all the states. I think it worked that way since the beginning.

[2018-01-15 10:38] doedje commented on #176
@ghowen: I would like to be able to switch to Swift5 when that comes.... so sticking to the current version is probably not an option.

[2018-01-16 07:13] doedje commented on #176
I'll have a look at implementing FA5....

[2018-01-16 08:49] OlafAndreas commented on #176
First of all I think the implementation of FA5 should be discussed, I've had a look at it yesterday and there are some issues that needs good solutions.

Here are my first thoughts.

#### Multiple fonts
We need to handle the loading of multiple fonts. Since FA5 Free is split into three different fonts, Regular, Solid and Regular_Brands, we should create a convenient way of loading and assigning th

[2018-01-16 11:27] TrueV opened #178 "Stacking Icons"
Is it possible to stack Icons, for example to indicate that there is _no wifi_ (**exclamation** on top of **wifi**) ?

[2018-01-16 11:37] OlafAndreas commented on #178
There is no functionality for this within FontAwesome.

You can however achieve this by stacking two components of `UILabel` with the label on top having a transparent background.

Since this isn't really an issue with FontAwesome, I'm closing it.

[2018-01-16 11:37] #178 closed

[2018-01-16 11:46] TrueV commented on #178
Thanks for the hint. 👍

[2018-01-16 12:07] ghowen commented on #176
If we implement multiple font support, it would be nice to at least consider support for the pro version of the fonts as well. Ideally you would just need to drop them into the project and the library would recognize them automatically. If you'd try to use a pro font without the font file present, the lib would either throw an error or return nil.

Another idea are presets for image sizes. These c

[2018-01-18 10:01] miff opened #179 "In navigation item title?"
Hi,
Is there a way to this:
`navigationItem.title = "\(String.fontAwesomeIcon(name: .cube)) Some Text Here"`
![screen shot 2018-01-18 at 11 00 39](https://user-images.githubusercontent.com/469459/35092199-f137ed24-fc3e-11e7-986d-ae4e950551ae.png)

Thanks

[2018-02-05 23:52] alanscarpa commented on #154
This also displays a question mark instead of an icon when I assign this to the text of a UILabel `let phoneIconString = String.fontAwesomeIcon(name: .phone)`

[2018-02-05 23:55] alanscarpa commented on #179
I'm having the same issue.  It seems to be specific to creating the icon as a string.  Ever find a workaround?

[2018-02-06 09:03] OlafAndreas commented on #179
Maybe this suggestion to a previous issue is helpful: [#166 Combination of icon + text -> text gets cut](https://github.com/thii/FontAwesome.swift/issues/166#issuecomment-344856689)

[2018-03-03 10:50] mrugeshtank opened #180 "Text cutting from bottom"
I'm setting text to UIButton.
here is my code.
[code]
and I'm getting output as follow
![screen shot 2018-03-03 at 4 12 51 pm](https://user-images.githubusercontent.com/11042449/36933425-5b8509aa-1efe-11e8-982b-31312dc7eaf1.png)

while without using fontAwesome Here is my code
[code]

and I'm getting output as follow
![screen shot 2018-03-03 at 4 11 38 pm](https://user-images.githubusercontent.com

[2018-03-03 14:33] thii commented on #180
It’s because the button titles also use the same font as the icons if you set like that.

[2018-03-05 05:34] mrugeshtank commented on #180
then what should be suggested action ??

[2018-03-05 07:36] thii commented on #180
The example is for icon-only button. You can use FontAwesome to create an image and assign it to your button using `setImage(_:for:)`:
https://developer.apple.com/documentation/uikit/uibutton/1623997-setimage

[2018-03-06 07:34] mrugeshtank commented on #180
Thanks for help...

[2018-03-06 07:34] #180 closed

[2018-03-08 20:04] nickdnk opened #181 "Doesn't seem to compile on 1.3.2"
I just updated to 1.3.2, and I have loads of compile errors inside the Pod framework.

Such as

`/Pods/FontAwesome.swift/FontAwesome/FontAwesomeBarButtonItem.swift:49:40: Argument labels '(rawValue:)' do not match any available overloads`

`/Pods/FontAwesome.swift/FontAwesome/FontAwesomeBarButtonItem.swift:53:36: Cannot convert value of type '[NSAttributedStringKey : Any]' (aka 'Dictionary<NSStrin

[2018-03-22 20:43] aduval commented on #181
I got the exact same issue and fixed it. I switched my project to Swift 4 (Build Settings-> Swift Language Version) and did a complete pod cleanup (https://stackoverflow.com/questions/46428752/how-to-clear-or-clean-specific-pod-cache)

[2018-03-23 18:52] Ivorforce commented on #92
I get a bunch of Swift update errors:

Pods/FontAwesome.swift/FontAwesome-macOS/NSImage+FontAwesome.swift:46:110: 'NSFontAttributeName' has been renamed to 'NSAttributedStringKey.font'

Pods/AppKit.NSFontAttributeName:4:12: 'NSFontAttributeName' was obsoleted in Swift 3

Pods/FontAwesome.swift/FontAwesome-macOS/NSImage+FontAwesome.swift:46:167: 'NSForegroundColorAttributeName' has been renamed to

[2018-04-04 14:18] SpartanEngr1297 opened #182 "Compile warnings on Swift 4"
At buildtime I get 3 compile warnings as indicated in the photo below. I was wondering if anyone else has encountered these issues and if so how they fixed it.

<img width="214" alt="screen shot 2018-04-04 at 10 13 23 am" src="https://user-images.githubusercontent.com/15006361/38312977-09e4a78e-37f1-11e8-9700-9d6ce2f0a054.png">

![image](https://user-images.githubusercontent.com/15006361/38313065-

[2018-04-17 17:32] joaoduartemariucio opened #183 "Please upgrade to the latest version"
I am using the framework but the version of .otf is in 4.7 please upgrade to the latest version which is version 5.0.7

[2018-04-20 12:37] EMakadiya commented on #176
hey

How can I update my pod to support FA 5 ?

Please help me.

Thanks.

[2018-05-03 20:29] AlexanderBollbach opened #184 "Why do I have to pass a CGSize to UIImage.fontAwesomeIcon ?"
I am accustomed to using auto-layout for as much as I can.  If I have an ImageView somewhere with an icon, I'd like to be able to just specify constraints and a `contentMode` and let the icon size itself based on those constraints.  If thats the case, why do I need to specify a size?

[2018-05-21 17:16] bbdroid opened #185 "Demo app crashes on launch"

[2018-05-22 01:13] thii commented on #185
Could you paste the crash log here?

[2019-05-18 19:19] MatrixSenpai opened #200 "Create an enum of just brands"
This should be relatively easy to generate using `codegen`, I can open a PR if needed

[2019-05-18 22:52] thii commented on #200
It would be a nice addition. Could you put it up in a PR?

[2019-05-19 00:39] geoherna opened #201 "Icons also being loaded from view string literal values"
Hi,

Having a strange issue where the string literal value of a UITextField is being interpreted as icon codes and rendered as the icons themselves.

Example Code:

[code]

And the car icon works fine, but for the word "Location", I am literally getting a cat icon as well due to the "cat" lol:

![image](https://user-images.githubusercontent.com/5247153/57976389-a91b8680-79ac-11e9-9604-869c772318fd

[2019-05-19 11:21] #200 closed

[2019-05-19 14:40] geoherna commented on #201
Also seeing the same issue w/ `UILabel`

[2019-05-26 20:51] bitops commented on #201
I am seeing this same behavior as well. It seems that interpolation is having some unintended side effect.

[2019-05-26 21:02] bitops opened #204 "Making an image of an icon fails to compile"
Hello, I am trying to use the code from the README:

[code]

But XCode throws up a compile error saying:

[code]

Version info:
Swift: version 5
XCode: 10.2.1
iOS target: 11.0
FontAwesome version: 1.7.0 via CocoaPods

[2019-05-26 21:19] bitops commented on #204
Looks like this method isn't really available:

[code]

[2019-05-26 21:19] #204 closed

[2019-05-26 21:32] bitops opened #205 "Some icons do not convert to images"
This looks like the same issue as #149 -- not all icons successfully convert to images.

I am simply using the image creation code to put an image in a `UITableViewCell`, using the default style.

Code:

[code]

The `.github` icon works properly but none of the other icons that I've tried seem to work.

[2019-05-28 07:02] bilawal-liaqat commented on #205
I'm getting the same issue. just Github icon working

[2019-05-28 13:20] bilawal-liaqat commented on #149
no icon working other than .github icon.
Did anyone solve that issue?

[2019-05-29 14:39] adri4silva opened #206 "Carthage stuck building FontAwesome on version 1.7.1"
Carthage gets stuck building the latest version of FontAwesome [1.7.1]

[2019-05-29 14:40] adri4silva opened #207 "Carthage stuck building FontAwesome on version 1.7.1"
Carthage gets stuck building the latest version of FontAwesome [1.7.1]

[2019-05-30 00:56] thii commented on #207
#206

[2019-05-30 00:56] #207 closed

[2019-05-30 00:56] thii commented on #206
Could you please try again now? The prebuilt binary has been uploaded to the releases page.

[2019-05-30 01:04] whoyawn opened #208 "Icon enum values point to the wrong icons"
<img width="97" alt="image" src="https://user-images.githubusercontent.com/15709918/58601058-0381d600-823c-11e9-830b-60bd35d25c42.png">
icons: `.times`

<img width="194" alt="image" src="https://user-images.githubusercontent.com/15709918/58601068-0bda1100-823c-11e9-84e9-68bb956f3eb8.png">

icons: `.inbox`, `.user`

Device: iPhone XR Simulator
Xcode 10.1
Swift 4.2

[2019-05-30 03:30] thii commented on #208
Thanks for reporting. Mind submitting a PR to fix it?

[2019-05-30 18:23] whoyawn commented on #208
For now, the workaround would be to upgrade to FontAwesome Swift 5 and use Xcode 10.2

[2019-05-30 22:06] #208 closed

[2019-05-31 01:39] thii commented on #205
Could you attach a reproducible example project?

[2019-05-31 01:39] thii commented on #201
Could you attach a reproducible example project?

[2019-05-31 01:56] geoherna commented on #201
@thii Yes, of course:
[TestFA.zip](https://github.com/thii/FontAwesome.swift/files/3239363/TestFA.zip)

[2019-05-31 08:02] bilawal-liaqat commented on #205
@thii  Attached screenshot and Sample Project using Pod.

[SampleFontAwesome.zip](https://github.com/thii/FontAwesome.swift/files/3240348/SampleFontAwesome.zip)
![Simulator Screen Shot - iPhone XR - 2019-05-31 at 13 01 17](https://user-images.githubusercontent.com/4446705/58690977-3cd55580-83a4-11e9-9a55-d231eecfecf9.png)

[2019-05-31 19:01] stevewight commented on #205
@bitops @bilawal-liaqat I had the same issue and changing the ``style`` property to ``.solid`` fixed it

[2019-06-02 08:49] tiennth commented on #206
I got this issue with Cocoa Pods also.
When I archive a project, FontAwesome took about 1 hour to finish (Macbook Pro 2015, 13 inch).
Google said that, this issue will happen if there is any big Dictionary in source code.

[2019-06-02 12:46] thii commented on #206
URL?

[2019-06-02 14:11] tiennth commented on #206
Sorry, is this OK for you?
https://stackoverflow.com/questions/42702559/swift-dictionary-taking-long-time-to-compile

[2019-06-02 14:16] tiennth commented on #206
I updated the new version of FontAwesome today, it is better now but still took much time.
<img width="979" alt="FontAwesome" src="https://user-images.githubusercontent.com/3277692/58762618-b2dfe500-857b-11e9-954e-887687ca35a6.png">

[2019-06-03 08:27] bilawal-liaqat commented on #205
@stevewight changing `style` property to `.solid` github icon not working

![Screenshot 2019-06-03 at 1 26 38 PM](https://user-images.githubusercontent.com/4446705/58787431-3db7f280-8603-11e9-9ec9-47e177c1fa53.png)

[2019-06-03 12:19] stevewight commented on #205
@bilawal-liaqat Did you try to use ``.regular`` instead of ``.solid``?  Both worked for me with ``.copyright`` and ``.volumeOff``.  The reason I believe those two do not work with ``.brands`` is because FontAwesome doesn't have a ``.brands`` version of those icons.

The inverse is the case with the ``.github`` icon, there are no ``.regular`` or ``.solid`` versions, only ``.brands``.   I get the qu

[2019-06-04 17:16] dpainte7 commented on #206
I'm seeing this issue as well with Carthage v0.33, Xcode 10.2.1.  It's taking around 10-15 min to build.

[2019-06-05 21:53] geoherna commented on #206
Can you share what Carthage command you're using, including arguments. Not able to reproduce using latest FontAwesome.swift with `carthage update --platform iOS`

[2019-06-06 11:44] undoroid commented on #206
I also have this problem. The same problem occurred v1.7.1 and v1.6.0 with CocoaPods.
Xcode Version 10.2.1 (10E1001)
MacBook Pro (15-inch, 2018)
Mojave 10.14.5（18F132）

![image](https://user-images.githubusercontent.com/3245867/59030378-c8b31a00-889b-11e9-8c49-f703dfee5ca9.png)

detail
[code]

[2019-06-06 13:30] dpainte7 commented on #206
I'm running `carthage bootstrap --platform iOS --cache-builds --no-use-binaries`

[2019-06-07 19:28] svastven opened #209 "How to use with Pro fonts?"
I have Pro font awesome but I can not figure out how to use it with this library. In my app delegate I set usesProFonts to true, but I see no change, the font names are still being fetched from the predefined dictionary. I need to use the fontAwesomeIcon(code: "fa-...") function, but with no luck. Is there a way?

Thanks!

[2019-06-07 19:32] LukasHromadnik commented on #209
Hi :)

According to the documentation

[code]
did you add Pro fonts to the project?

[2019-06-07 19:41] svastven commented on #209
I did add them to the project, and also to Info.plist file. They are named exactly like stated in the UIFont extension. However when I went through the FontAwesome.swift code I could not find any support for the Pro fonts.

[2019-06-07 20:06] svastven commented on #209
I think that the use of the CSS codes like "fa-500px" is not supported. It is not possible to retrieve the icon in other way than the unicode character. But I found out that I also got some .json with the pro fonts so I'am probably going to parse my own dictionary and use it that way.

Thanks anyways!! :)

[2019-06-07 21:43] StephanWalters commented on #206
Same here.. seems to be taking a life time

[2019-06-07 22:46] thii commented on #206
Please submit a PR if you know how to fix it.

[2019-06-08 01:11] thii commented on #206
@tiennth It seems to only take that long when making an archive. I wonder how that's related to big dictionary compile time.

[2019-06-08 04:10] tiennth commented on #206
@thii Yes,  only when making an archive. My project use FontAwesome and Atributika (https://github.com/psharanda/Atributika) and both of them used to take me about 2 hours to archive the project.
The new version of Atributika have a significant improvement. Now it only takes about 19 seconds to build when making archive.
I wonder how they did it.

[2019-06-10 10:23] ArdentZeal opened #210 "Off by 1 in 1.7.1"
Hey,

if I pick .ring, I get .road.
If I pick .road, I get .robot.

So the enums are off by 1.

This does only happen in 1.7.1, I reverted to 1.7.0 and it is ok there.

Installed via Cocoapods.

Cheers

[2019-06-10 12:19] thii commented on #210
Mind opening a PR to fix it?

[2019-06-13 07:07] tomasszabo commented on #206
Workaround working for me is to change Swift `Optimization Level` to `No Optimization (-Onone)` in Build Settings for FontAwesome.Swift (I'm using CocoaPods).

[2019-06-17 19:36] avlisesac opened #211 "Only getting question mark"
I installed this using cocoapods and assigned an icon like so:
[code]
Beyond the cocoapods installation and the assigning of the icon, I have done nothing else as the instructions don't indicate needing to do anything else.
When I run, the icon is a question mark surrounded by a square. The Demo app that is included correctly shows the github icon when it is run, so I tried to set it to the exact

[2019-06-17 19:44] #211 closed

[2019-06-20 15:35] pandeyshivang commented on #206
**Just drag Source folder to your project and run this will take with 1 minute.**

[2019-06-20 21:42] whoyawn opened #212 "Images are inset by a few points"
<img width="240" alt="image" src="https://user-images.githubusercontent.com/15709918/59883272-534e4b80-9369-11e9-8235-87fbbcdcb37b.png">

Comparing the image with a default iOS symbol, when I create an image like so:
[code]

There are extra insets that shouldn't be there.

[2019-06-20 22:26] whoyawn commented on #212
This is a problem more with FontAwesome, not this library. This could be a feature, however.

[2019-06-24 11:31] Riedi2070 commented on #206
Same here when making an archive. @pandeyshivang which Source folder did you drag into your project?

I've the following structure. When I copied `Pods/FontAwesome.swift` into `MApp/Pods` there are no changes. Same long building time.

![image](https://user-images.githubusercontent.com/5427990/60015600-3032dd00-9684-11e9-9766-fadb2cf99fc7.png)

[2019-06-25 05:29] pandeyshivang commented on #206
@Riedi2070 Just clone FontAwesome.swift and open example project than drag source folder to you project any where than remove import Statement and
Compile and run

[2019-06-25 05:30] pandeyshivang commented on #206
@Riedi2070 Just clone FontAwesome.swift and open example project than drag source folder to you project any where than remove import Statement and
Compile and run

[2019-06-25 07:59] Riedi2070 commented on #206
@pandeyshivang Hey man thx u, this workaround works. But its noch longtime solution, but its against the practice to add external libraries via pods.

![image](https://user-images.githubusercontent.com/5427990/60080069-7bee9080-972f-11e9-923b-be7561ef6024.png)

707.3 seconds for compiling Swift source from FontAwesome.swift is very bad. Or is it my i3 CPU? I will test it at another machine and giv

[2019-06-26 04:19] pandeyshivang commented on #206
@Riedi2070 yeah i know this is not good way to any lib use but other option is not working.

[2019-06-26 17:42] rdougan commented on #206
The issue is due to the large dictionaries defined in Enum.swift.

You can solve the issue by commenting out any icons you are not using in Enum.swift.

[2019-06-26 19:15] pandeyshivang commented on #206
@rdougan Yeah i have all convert dictionary to json file and created separate file for every enum in enum.swift

[2019-06-28 10:30] avinz commented on #206
Same issue, 1400s compile time

MacBook Pro (15-inch, 2016)
2.6 GHz Intel Core i7
16 GB 2133 MHz LPDDR3

[2019-06-29 09:37] LukasHromadnik commented on #210
Hi.

I've just tested your case and I'm not able to reproduce this situation.

Do you mind providing some code?

[2019-06-29 09:50] ArdentZeal commented on #210
Hey,

sorry for not replying before, but I am not able to do a PR at the moment due to time constraints.

Here is one of the lines, which caused the problem with 1.7.1

UIImage.fontAwesomeIcon(name: .road, style: .solid, textColor: UIColor.white, size: CLTableOverlayView.mIconSize)

To reiterate, this one gives me the right one in 1.7.0, and one off in 1.7.1. At the moment I am running with 1.7.0

[2019-06-29 09:59] LukasHromadnik commented on #210
Still unable to reproduce. This is what I see
![Simulator Screen Shot - iPhone Xs - 2019-06-29 at 11 56 54](https://user-images.githubusercontent.com/2185200/60382581-5df19a80-9a65-11e9-94a8-7083e9db57d0.png)

[2019-06-29 10:51] ArdentZeal commented on #210
Hey, thanks for the effort. I double-checked again and could not reproduce the issue either.
I use FontAwesome.swift in several targets, maybe I updated not all of them and got a missmatch? Just guessing at that point.

Well it is gone now, so everything seems to be fine. Thanks again :)

[2019-06-29 10:51] #210 closed

[2019-07-03 10:41] o15a3d4l11s2 commented on #209
I believe pro fonts are not working, because it tries to load the font from FontAwesome's bundle, not the main application bundle, where the pro fonts are added:

[code]

[2019-07-05 08:06] thii commented on #209
Yeah you need to replace the bundled fonts in FontAwesome's bundle with your pro fonts.

[2019-07-05 09:26] o15a3d4l11s2 commented on #209
@thii , thanks for the hint. I am using the library as a pod. What should be done in this case, so that we can add the pro fonts and not worry about updating the library will wipe out the changes?

[2019-07-05 10:25] thii commented on #209
I would recommend adding a script after your pod install script to replace the font files every you run pod install. You should probably only replace with the same version of the pro fonts.

[2019-07-06 17:02] albarq opened #214 "Question mark showing instead of picture"
Hi,

I have download the app and  it is working perfectly as shown in example folder, but once I tried to run at my project, my app doesn't recognise font..

I tried many solutions like:
- define in plist these font ... ending with ttf and otf
- install this library manually and pod 'FontAwesomeKit.Swift'

There is something missing at my end but I don't what is ...

could any one help me by givin

[2019-07-06 18:46] LukasHromadnik commented on #214
Hi,

can you please provide us with some example of your code? I just tried new project with one label and it worked.

1) Did you set correct font?
2) This library is `FontAwesome.swift`, not `FontAwesomeKit.swift`. Maybe you have a problem with different library.

[2019-07-06 19:07] albarq commented on #214
Thanks a lot my friend ...

I wrote for you long description to show you all steps that I am doing and showing me question mark, but for no reason it shows me the icon :) .. very strange ...

So god bless you ... you are my hero

[2019-07-07 10:26] #214 closed

[2019-07-09 13:14] achirkof opened #217 "The compiler is unable to check that this switch is exhaustive in reasonable time"
Hi! Got an issue trying to build app "The compiler is unable to check that this switch is exhaustive in reasonable time"

<img width="1371" alt="Screenshot 2019-07-09 at 16 09 30" src="https://user-images.githubusercontent.com/1292136/60890677-78492680-a264-11e9-88fb-19de247d11cc.png">

Probably need to add default value.

It works several days ago. Looks like updating fonts might be a cause of is

[2019-07-10 03:33] thii commented on #217
Thanks for reporting this. Would you mind to open a PR to fix it?

[2019-07-10 07:35] LukasHromadnik commented on #217
Can you please provide us with some information? Like hardware specs, Xcode version, library version and version of the Cocoapods?

I've just tried my test app on my very old Macbook 2012 and I'm not getting this error during the build nor the archivation.

[2019-07-10 07:55] achirkof commented on #217
My laptop is:
MacBook Pro (Retina, 15-inch, Mid 2014)
Processor 2,5 GHz Intel Core i7
Memory 16 GB 1600 MHz DDR3
Xcode 11 beta 3 (11M362v)

I think it's specific for Xcode 11 error.

[2019-07-10 14:50] patchthecode commented on #154
closing this issue.
Apple released glyphs. I'll use those instead of a lib.

[2019-07-10 14:50] #154 closed

[2019-07-11 19:08] LukasHromadnik commented on #206
This issue should be solved with the new version

[2019-07-11 19:08] #206 closed

[2019-07-13 14:56] ykphuah opened #219 "(Left) Alignment of icons"
If I put a list of texts, some with fontawesome and some not, the ones with fontawesome seems to appear slightly to the left. Is this expected? Anything that I can do about it?

<img width="441" alt="Screenshot 2019-07-13 at 10 50 00 PM" src="https://user-images.githubusercontent.com/216390/61173080-ce99ca80-a5c0-11e9-9a5c-06dffa777366.png">

Here's my relevant codes:

[code]

[2019-07-15 05:51] pausanchezv opened #220 "Error when using icons"
Hello, after installing the module using cocoa pods and once the FontAwesome_swift package  has been imported, no errors are shown but I'm getting a question mark, instead of the item itself, every time I add a new icon.

Does anyone know what happens?

Thanks.

[2019-07-15 06:40] LukasHromadnik commented on #220
Hello :)

Do you mind sharing some code with us?

In my experience the question mark indicates that the font is not set. See [Examples section](https://github.com/thii/FontAwesome.swift#examples)

[2019-07-16 23:26] ipodishima commented on #209
@o15a3d4l11s2 is it working for you?

[2019-07-17 08:33] o15a3d4l11s2 commented on #209
@ipodishima, at the end I decided to skip the library and just use the font. But I believe what @thii suggested should work properly.

[2019-07-17 09:18] #179 closed

[2019-07-17 09:18] #181 closed

[2019-07-17 09:18] #92 closed

[2019-07-17 09:18] #182 closed

[2019-07-17 09:18] #183 closed

[2019-07-17 09:18] #176 closed

[2019-07-17 09:18] #184 closed

[2019-07-17 09:18] #185 closed

[2019-07-17 09:18] #201 closed

[2019-07-17 09:18] #205 closed

[2019-07-19 14:29] yoiang commented on #205
It would be great if the DSL didn't allow using combinations that aren't supported.

Barring that it'd be great if `UIImage.fontAwesomeIcon` threw or notified the consumer of the API somehow, or even had a `isSupported(name:, style:)`, some way to be able to react!

[2019-07-21 16:39] LukasHromadnik commented on #205
Yes, that would be great, but this check should be done during the compile time and not in the runtime. If you have an idea how to do it, please make a PR.

[2019-07-27 23:03] #212 closed

[2019-07-30 17:42] benben28405678 commented on #217
I compiled the code in `Enum.swift` and ran into no issues. Not sure if you fixed the issue in the weeks since the last comment, but it seems to me that everything runs fine with the `switch` statement.

Looks like it's an Xcode 11 issue.

-Ben

Model Name: MacBook Pro (2017)
Model Identifier: MacBookPro14,2
Processor Name: Intel Core i5
Xcode Version 10.2.1 (10E1001), Swift 5

[2019-08-01 08:45] 5fcgdaeb commented on #220
Same problem here! Questions marks everywhere :)

@LukasHromadnik: I am using the library as specified in the Examples section.

XCode: 10.2
Swift: 5.0
macOS: 10.14.5 (Mojave)

I will dig deeper now since I have to solve this. I do have the 3 `otf` files under the Pods/FontAwesome.swift directory.

[2019-08-01 08:58] 5fcgdaeb commented on #220
Here is a bit more information on the issue:

`label.text = String.fontAwesomeIcon(name: .check)`
[code]

The output shows a question mark.

[2019-08-01 14:52] 5fcgdaeb commented on #220
OK, figured things out!

I upgraded from an older version to `1.8.1` and I guess certain icons require a pro membership now. For those, you get the question mark. The free stuff you can still use. There are no indicators though of what is free and not. If you try to use a pro icon, you will get the question mark.

Gallery at https://fontawesome.com/icons?d=gallery helps a lot to see which ones are

[2019-08-02 01:19] robertcrabtree commented on #217
I have the same issue with Xcode Version 11.0 beta 4. No problems with Xcode 10.3

[2019-08-02 02:19] thii commented on #217
Could you file a bug report to Apple?

[2019-08-02 21:53] danielrobleM commented on #217
I have the same issue with Xcode Version 11.0 beta 3.

[2019-08-02 23:52] ykphuah commented on #217
Same issue with Xcode 11 beta 5 as well.

[2019-08-03 00:41] ykphuah commented on #217
Created a pull request
https://github.com/thii/FontAwesome.swift/pull/222

[2019-08-11 12:45] Tulleb commented on #217
I don't think this is a bug. It looks like Xcode 11 is just being more restrictive on the enum switch to be able to compile faster.

[2019-08-12 13:53] MatrixSenpai opened #223 "Support for Duotone in Pro fonts"
Font Awesome 5.10 adds a new font type: Duotone. Be awesome to have that available!

[2019-08-15 08:12] valexa opened #224 "modulemap error on Xcode 11.0 beta 5 (11M382q)"
Version 1.8.1 fails to compile with error /Build/Products/Debug-iphoneos/FontAwesome.swift/FontAwesome_swift.framework/Modules/module.modulemap:9:12: Header 'FontAwesome_swift-Swift.h' not found

The autogenerated module.modulemap is :
[code]
<img width="896" alt="Screenshot 2019-08-15 at 08 59 08" src="https://user-images.githubusercontent.com/108781/63081960-e0aeb600-bf3c-11e9-8521-d4156aa9d097.

[2019-08-15 08:51] valexa commented on #224
I had to create a empty file at Pods/Target Support Files/FontAwesome.swift/FontAwesome_swift-Swift.h and add it to the pods project for the FontAwesome.swift target as a temporary fix

[2019-08-19 15:36] #219 closed

[2019-08-20 18:26] mikemike396 commented on #206
Working for us! Thank You

[2019-08-23 08:43] #209 closed

[2019-08-23 13:17] ruizmarc commented on #217
Same issue with Xcode 11 beta 6 as well. I'm with @Tulleb , it seems they are getting more restrictive.

[2019-08-24 16:45] yasingh7 commented on #220
I'm using free icons and still get question mark. Is this because i use Interface Builder?

[2019-08-25 10:33] umutalparslan commented on #217
I'm having the same problem. I'm using Xcode 11 beta 6.

[2019-08-27 13:10] braandl commented on #220
Is there any way to find out if an icon is free? Icons that used to work are gone after upgrade.

[2019-08-29 08:16] nickthedude opened #227 "Dropshadow option?"
Would be nice :)

[2019-08-29 12:55] doedje commented on #227
You would apply a dropshadow to the UILabel, not to the font.... so fontawesome does not need to have a drop shadow option, because whatever you use to display a font awesome icon already does.

[2019-08-29 22:39] robertcrabtree opened #228 "Icon insets"
When I create images using the `UIImage.fontAwesomeIcon` method I noticed that the actual icon doesn't occupy the full the image. The icon is inset by a certain factor.

<img width="311" alt="font-awesome" src="https://user-images.githubusercontent.com/924214/63980605-02e22100-ca71-11e9-8773-2371a771ea1d.png">

In this example I have the imageView background color set to orange. The top row is wha

[2019-09-02 11:50] ruizmarc commented on #217
This issue has been fixed with https://github.com/thii/FontAwesome.swift/pull/222

[2019-09-03 10:37] gezamiklo commented on #217
The issue still persists. I understand that the swith is exhaustive, but cannot alter the compiler. Maybe in the final version it will compile. Who knows?

[2019-09-03 22:31] #217 closed

[2019-09-11 13:34] relisiuol commented on #92
https://github.com/qvacua/CocoaFontAwesome

[2019-09-11 16:56] MatrixSenpai commented on #223
@thii any ideas? I added it to one of my projects, but couldn't see the light (i think?) part of the font when displayed. i think it might have to be only used with an UIImage, not sure though

[2019-09-21 09:49] #224 closed

[2019-09-25 09:40] RNUK opened #229 "Module compiled with Swift 5.0.1 cannot be imported by the Swift 5.1 compiler"
Following Xcode update this morning. I am now getting this error when trying to compile my code. I have updated the pod repo incase there is a newer compatible version, but this hasn't fixed the issue.

Please advise.

[2019-09-25 10:17] LukasHromadnik commented on #229
Did you use cocoapods-binary? AFAIK this error shouldn't came from pure cocoapods

[2019-09-25 11:00] RNUK commented on #229
Yes, using cocoapods. I have cloned the repo now and manually installed. Looks like it's ok. I'll keep an eye on pod updates though

[2019-09-25 12:15] LukasHromadnik commented on #229
This issue is related to the framework's binary which was compiled with the older version of the Xcode (here 10.3). If you are using [cocoapods-binary](https://github.com/leavez/cocoapods-binary), then you need to delete the `Pods/_Prebuild` folder and run the `pod install` command again. Otherwise I have no idea how you get this error from cocoapods

[2019-09-30 08:01] arashetm opened #230 "Update Enum.swift"
Hi
How can I update Enum.swift?!
I want to use pro style of fontawesome but one of icons that I want is missed in the `Enum` (fa-text).
Could you please help me?
Thanks

[2019-10-01 06:47] imrabti opened #231 "Documentarioh"

[2019-10-01 06:48] imrabti opened #232 "Documentation on how to use FontAwesome pro Icon"
Would it be possible to offer an example of how to use this library with FontAwesome pro icons

[2019-10-01 06:53] #231 closed

[2019-10-01 11:57] braandl commented on #220
This Issue is not solved, tough. That you can not see what icons are from the free-Set and wich are not is a major drawback.

[2019-10-04 02:58] daminhtung opened #233 "Enum.swift Compiller Error - Xcode 11"
It happen when I updated to Xcode 11

` The compiler is unable to check that this switch is exhaustive in reasonable time`

<img width="782" alt="Screen Shot 2019-10-04 at 9 55 09 AM" src="https://user-images.githubusercontent.com/6220517/66177891-7b01bf00-e68d-11e9-894d-a1cf8b65c076.png">

[2019-10-04 03:16] daminhtung commented on #233
Sorry I just update to v1.8.2 and worked !

[2019-10-04 03:16] #233 closed

[2019-10-05 13:38] #227 closed

[2019-10-05 23:38] #228 closed

[2019-10-07 11:50] abrass opened #234 "Code Signing Issue"
Hello,

I have some signing issue with the Fontawesome Pod.

If I create a complete new project with this PodFile:

[code]

I get following error, when trying to build for a device:
[code]
I tried to setup the code signing for the pod-framework, so the XCode-UI does not show any errors. But it still does not build the project

[2019-10-08 13:04] thii commented on #234
This is an issue with your developer account. We’re not signing our binaries.

[2019-10-08 13:04] #234 closed

[2019-10-09 11:35] foscomputerservices commented on #230
I too am encountering this issue.  There are some icons that a pro-only.  Examples include:  fa-text, fa-user-headset, fa-users-class.

These icons do not appear to be listed in Font-Awesome/metadata/icons.json file, so when generating updates to Enum.swift, they do not appear.

Are there any suggestions how we can specify these icons other than forking the repository and manually adding them by h

[2019-10-13 17:46] jbarros35 opened #235 "Font awesome load by code"
I don't know exactly why but this code always returns nil

if let glyphImage = UIImage.fontAwesomeIcon(code: <code here>, style: .solid, textColor: convertColor, size: CGSize(width: 16, height: 16)) {
                    iconView.image = glyphImage
                }

when code is  car-side or shuttle-van
It always returns me nil.
I'm on the most updated version   pod 'FontAwesome.swift'
Installing

[2019-10-21 09:31] valexa opened #236 "Crash when used imported as Swift Package"
Adding to Xcode 11 as a swift package works fine however its crashes when trying to load the font files with : Fatal error: Unexpectedly found nil while unwrapping an Optional value: file /.../SourcePackages/checkouts/FontAwesome.swift/FontAwesome/FontAwesome.swift, line 98

<img width="1424" alt="Screenshot 2019-10-21 at 10 28 22" src="https://user-images.githubusercontent.com/108781/67193826-dce

[2019-10-21 20:52] JoNilsson commented on #220
@thii Any progress on this?

[2019-10-26 22:52] siddharth-prajapati commented on #220
Try changing .style attribute from "brand" to something else that worked for me for bell icon

[2019-11-01 13:05] #229 closed

[2019-11-02 15:27] ykphuah opened #237 "Error when used in a project targeting catalyst"
Once I enable catalyst, building for Mac platform will give me the following errors:

`Signing for "FontAwesome.swift-FontAwesome.swift" requires a development team. Select a development team in the Signing & Capabilities editor.`

It doesn't do this for any other pod files that I use. Excluding FontAwesome (which needs me to set minimum iOS to 13) works as well, but I am wondering why this pod is

[2019-11-06 12:22] mpkempson commented on #237
I have the same issue. Bumping for visibility

[2019-11-08 13:26] foscomputerservices commented on #230
Ping!

[2019-11-10 11:30] palla89 commented on #237
Same problem here

[2019-11-13 05:47] geoherna commented on #201
Was this ever resolved? I provided the examples as requested.

[2019-11-19 18:56] #235 closed

[2019-11-27 12:05] #236 closed

[2019-12-05 04:06] geoherna commented on #201
Bump

[2019-12-05 08:51] doedje commented on #201
This is just my 5 cents, not thii's opinion: But isn't this a side-effect because you are displaying regular text using fontAwesome, it is supposed to display icons, not regular text.

[2019-12-06 14:25] pgrundner commented on #232
So far, here are some steps that made me get a little further

1.) add the pro *.otf files to your project.

2.) add the following list of font files to your info.plist file:
`<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Font Awesome 5 Brands-Regular-400.otf</stri

[2019-12-11 09:35] appfrilans commented on #237
Need this as well

[2019-12-11 13:53] appfrilans opened #238 "List all fonts"
A simple addition of CaseIterable would allow you to list all icons. Or is there another way?

Seems to be missing in the enum FontAwesome.

[2019-12-12 12:36] foscomputerservices commented on #230
Hello. is it possible that this project is no longer being maintained?  I'm more than happy to help!

[2019-12-19 14:39] thii commented on #230
To update to a new font version, run:
[code]

where x.y.z is the font version.

Enum.swift is generated by codegen.swift. Please take a look at it.

[2019-12-20 08:44] foscomputerservices commented on #230
@thii, thank you for your response!  Completely understand about how to update it from those instructions in the readme.  However the question that was asked was:

I have done exactly this for my own forked copy of the project.  I was simply wondering what the ongoing strategy was to:

1. Include/update the pro-only styles and icons
2. Keep the non-forked project up-to-date as, obviously, I cannot

[2019-12-28 05:18] MatrixSenpai commented on #223
Just as an update, I've started investigating using the duotone fonts. Note that when using `codegen.swift` an error will be thrown when decoding the `oven` (**pro-only**) icon, because the `path` property can be a single string or an array of strings. This can be worked around by removing `path` from the `Codable` enum.

On that same note, is it possible to simply have the library draw the SVGs t

[2019-12-28 05:21] MatrixSenpai commented on #223
[This library](https://github.com/mchoe/SwiftSVG) supports drawing SVGs in a UIView or CALayer, although this would need some further finagling. Another enum for SVGs could be generated using the `raw` or `path` properties provided by the metadata...

@thii thoughts?

[2020-01-02 01:21] LordZardeck opened #242 "Support for SwiftUI?"
I want to user this project in SwiftUI, but I have not been able to. Are there plans to support/document how to use with SwiftUI?

[2020-01-16 01:43] novinfard commented on #238
With CaseIterable it is possible. It's a missed feature.

[2020-01-25 13:44] #238 closed

[2020-01-27 01:19] novinfard commented on #205
@LukasHromadnik @yoiang related PR to solve the issue has been created:
https://github.com/thii/FontAwesome.swift/pull/244

[2020-01-31 14:45] vjoomens commented on #232
Hi all, got pro fonts working, except... lots of icons are missing in the Enum (eg repeat). Seems this file is auto generated. Trying to regenerate didn't work: error. Please help. Is there a way to regenerate this file on xcode build?

[2020-01-31 15:27] vjoomens commented on #232
I figured it out: remove the path: String line in the codegen.swift file (line 20) and it works. Simply use the newly generated FontAwesome enum in your project.

[2020-02-02 12:49] liamse commented on #220
When you search your icon on [fontawesome.com](https://fontawesome.com/icons/) click on icon that you want. In its URL you will see its style. For example for **camera** icon it will be like this:  ../icons/camera?**style=solid**
You can use set it in your code like this:
[code]

[2020-02-18 17:09] MoElnaggar14 opened #246 "FontAwesome Enum didn't contain Pro Code"
I want to add "fa-sign-out" pro in my project but it's disappeared.

[2020-02-19 10:16] MoElnaggar14 commented on #230
@thii how I can update The Enum, i installed Pod through Podfile

[2020-02-19 10:29] MoElnaggar14 commented on #209
@o15a3d4l11s2 is it working?

[2020-02-19 11:48] thii commented on #230
Run ./codegen.swift.

[2020-02-19 11:51] MoElnaggar14 commented on #230
the Pod files don't contain ./codegen.swift

[2020-02-19 17:19] matt-matt1 opened #248 "Swift Package Manager"
Can this be used in Xcode as a Swift Package dependancy?

If so, Is this better than using CocoaPods?

If so, any other files needed?

[2020-02-22 19:58] MoElnaggar14 commented on #246
this is the solve : Run ./codegen.swift.

[2020-02-22 19:58] #246 closed

[2020-02-23 14:22] matt-matt1 commented on #236
same problem

[2020-03-14 21:16] mralexhay commented on #230
Also wondering how to update the enum to include pro symbols

[2020-03-14 21:37] mralexhay commented on #232
@vjoomens Hi! I'm stuck on the same problem you had. How are you running the codegen file to regenerate the enum? The file isn't there when installing via podfile. Thanks!

[2020-03-15 09:58] vjoomens commented on #232
@mralexhay check my fork of this project (https://github.com/vjoomens/FontAwesome.swift). It's fully compatible with FA pro.

[2020-03-15 12:40] mralexhay commented on #232
@vjoomens amazing, this worked for me, thanks.

The only problem I haven't been able to sort is that using the Duotone style throws an error (despite the OTF being stored next to the others and being listed in the Info plist)

<img width="1274" alt="CleanShot 2020-03-15 at 12 35 57@2x" src="https://user-images.githubusercontent.com/49391054/76701530-fd20f580-66b9-11ea-8c1d-28ee9648dcb6.png">

but

[2020-03-22 01:32] DerekK19 commented on #248
My own experience is that it cannot. There is a package.swift file in the project, and I added this package to my own project. However when I ran the app, I got a crash on line 94 of FontAwesome.swift - return UIFont(name: style.fontName(), size: fontSize)! I assume that the font otf files themselves are not being loaded through the package manager. I have switched back to using Carthage for this

[2020-03-23 03:38] DerekK19 commented on #248
Further to my reply, I have now found how to get FontAwesome working. Include the package as you would any other, but manually copy the 3 otf font files - I copied them to the same folder as my storyboard and other assets

[2020-03-24 01:15] DerekK19 opened #249 "Unable to use more than one font in a Mac Catalyst app"
In a Mac Catalyst app, the call to UIFont.fontNames(forFamilyName: "Font Awesome 5 Free") only returns one font even if more than one font is loaded. The following unit test will fail (with an NSInternalConsistencyError tracing back to line 255 on FontAwesome.swift.

This ONLY happens when running the tests in a Mac device (not in an iOS device) and is possibly due to a Mac Catalyst bug. It does m

[2020-03-27 12:24] ghowen commented on #230
OK, I ran into the same issue today and solved it like this. It's hacky and there is definitely a more elegant way to properly support this in the future. But it works as a workaround for now.

1. Clone the https://github.com/thii/FontAwesome.swift/ repository to your local machine
2. When you are using Cocoapods: Include your local pod in your app instead of the hosted one. This will then automat

[2020-03-27 12:59] MoElnaggar14 commented on #223
it's merged #247

[2020-03-27 14:05] ghowen commented on #230
I ran into the same issue today and solved it like this. It's very hacky and there is definitely a more elegant way to properly support this in the future. But it works as a workaround for now.

1. Clone the https://github.com/thii/FontAwesome.swift/ repository to your local machine
2. When you are using Cocoapods: Include your local pod in your app instead of the hosted one. This will then automa

[2020-03-27 14:17] MatrixSenpai commented on #223
To clarify: This does not actually add support for rendering duotone fonts. It only fixes an issue when it comes to parsing the metadata. Therefore, it's not actually relevant to this issue, but is relevant to #230

[2020-03-27 14:20] MoElnaggar14 commented on #223
I will upload a new PR that I fixed this issue

[2020-03-27 14:25] ghowen commented on #232
To implement FA Pro support, follow the instructions from @pgrundner.

To get **all** FA Pro icons, you need to hack a bit by following this: https://github.com/thii/FontAwesome.swift/issues/230#issuecomment-605018622.

[2020-03-27 14:32] MatrixSenpai commented on #223
It would seem that SVGs are included in both Free and Pro metadata files, which is good news. This may take some further investigation, especially when it comes to rendering `UIImage`s and `UIBarButtonItem`s (with images). `UILabel`s will not be able to render them at all, most likely. This is something I may try to put some time into myself. It's not going to be as simple as it seems.

In the sho

[2020-03-27 14:42] MoElnaggar14 commented on #223
@MatrixSenpai check this #250

[2020-03-27 15:24] ghowen commented on #223
@MoElnaggar14: As @MatrixSenpai said: Your patch might fix the issue with parsing the metadata. But **it does not help to render the duotone icons** correctly!

I agree with @MatrixSenpai that this can only be done for images, as with fonts you can have a different color per letter but not a letter with two colors.

To make the SVG part of the enum sounds sensible to me. It will increase the size

[2020-03-27 15:27] MoElnaggar14 commented on #223
@ghowen I think it's not possible for SVG part

[2020-03-27 16:52] valexa commented on #230
In addition to the instructions above here is a gist with the Enum.swift file all update with the pro font https://gist.github.com/valexa/e206ad23c962b184484e1a085b9c5717

[2020-03-27 16:54] MoElnaggar14 commented on #230
I already updated in this PR

[2020-03-28 02:54] thii opened #251 "New maintainer wanted"
Please let me know if anyone wants to take over this project.

[2020-03-30 05:45] MatrixSenpai commented on #223
My thoughts are to add a new generated plist that has the SVG paths in it. We can load and unload that data from memory at will. There's a price to pay in terms of performance, but we reduce our footprint in memory. If I recall correctly, an enum is loaded in at runtime to memory, but if we're using these only in places that support images (i.e. `UIImage`, `UIBarButton`, `UIButton`) then that shou

[2020-03-31 05:43] chriszielinski commented on #223
No need for SVGs, fortunately. Duotone is accessible to us from the ligature-based font file. Here's a _lil_ taste.

<img width="421" alt="nice" src="https://user-images.githubusercontent.com/10805481/77990772-112e3f00-72d7-11ea-8365-e26613bcc6c6.png">

That being said, `UIKit` Duotone functionality depends on some things introduced in #245. Which, in turn, leads to some modifications... & some [d

[2020-03-31 13:49] MatrixSenpai commented on #223
I haven't worked with ligatures before, great find! I definitely like the way that's moving. I agree, we may have to move this to a new project entirely though

[2020-03-31 14:00] ghowen commented on #223
Wow, if we can do this with ligatures instead of SVG, this would be great. Re. new repo: Ideally we could do an in place update, so people would not need to touch their apps. Are breaking changes necessary?

[2020-03-31 16:29] ghowen commented on #223
I downloaded https://github.com/thii/FontAwesome.swift/pull/245 and tried to test it with duotone icons, but the demo app for iOS crashes in `FontAwesome.swift:331` with the following error:

`Optional(Swift.Unmanaged<__C.CFErrorRef>(_value: Error Domain=com.apple.CoreText.CTFontManagerErrorDomain Code=105 \"Could not register the font file(s)\" UserInfo={NSDescription=Could not register the font

[2020-04-03 07:54] dneykov commented on #248
I didn't manage to make it work using SPM

[2020-04-03 20:50] austintt commented on #232
Alright, I've followed the steps listed here and [https://github.com/thii/FontAwesome.swift/issues/230#issuecomment-605018622](here), but I guess I've done something wrong.

`UIFont(name: style.fontName(), size: fontSize)!` on line 98 of FontAwesome unexpectedly finds nil for file.

Maybe you guys can help me catch my mistake.

I've added the Pro otf files to the project. The otf files are added t

[2020-04-04 10:58] ghowen commented on #232
@austintt It would help troubleshooting if you can catch the value of `style.fontName()` in the debugger. Then we would know which `fontName` is causing the problems.

A potential cause for your crash could be that even though duotone rendering is not support, you might have to add all the font file nevertheless:

[code]

[2020-04-05 17:55] austintt commented on #232
@ghowen, thanks for the suggestion! I moved some stuff around and got a little more detail with the following error: `com.apple.CoreText.CTFontManagerErrorDomain error 105 - Could not register the font file(s)`. I tried referencing the duotone font in the plist, but found the same error.

This happens with the first call in my app to FontAwesome, requesting a light styled icon. Placing a breakpoin

[2020-04-06 07:36] ghowen commented on #232
@austintt When you added the font files to the project, did you check the "Copy if needed" option? Also make sure that the all font files have the correct target membership. You can check this in the File Inspector when you click on the font files in your project. My current guess is that in your case the font files do not have a target membership.

[2020-04-09 06:45] valexa commented on #251
Hello, i'm using this library in a couple projects where I have to manually fix things so could give maintaining it a go.

[2020-04-12 04:43] DerekK19 commented on #248
Did you follow my instructions. Just add as you would any other SPM package. However you must manually copy the 3 font files into your project - I put them in my Resources folder. The files are named Font Awesome 5 Free-Regular-400.otf, and another two with similar names. Also make sure to set the Target Membership flag for your target. That's all I did and I have FontAwesome fonts in my app.

The

[2020-04-13 22:18] nathanhleung commented on #242
Also curious about this!

[2020-04-14 05:32] MatrixSenpai commented on #242
Would be good. I’ll look into it

[2020-04-17 12:01] mralexhay commented on #232
@ghowen Did you ever find a solution to that unexpected nil error? Mine has started doing it and I haven't been able to find the answer yet. Thanks.

[2020-04-17 12:11] ghowen commented on #232
@mralexhay You should probably check with @austintt if https://github.com/thii/FontAwesome.swift/issues/232#issuecomment-609626259 did the trick for him. My bet is still that the fonts were not added to the target of the app.

[2020-04-18 06:50] MatrixSenpai commented on #232
My personal recommendation, and how I prefer to do it, is to use the [FontBlaster](https://github.com/ArtSabintsev/FontBlaster) library instead. Make sure the first line in `application(didFinishLaunching: with options:)` is `FontBlaster.blast()`

Also ensure that all of the fonts appear in Xcode, and you have added them to the `Copy Bundled Resources` build phase, found by going to _your target_

[2020-04-18 14:49] austintt commented on #232
@ghowen no dice, I had checked to make sure everything was a part of the correct target and copied to the app. For now, I'm just using the free fonts while I focus on other parts of my project. I'll try adding the Pro fonts again later. Thank you for the help though!

[2020-04-21 04:55] MatrixSenpai commented on #251
I'm willing to take over the maintaining of the package

[2020-04-21 05:08] MatrixSenpai opened #252 "Using Pro Fonts in this library"
I'm leaving this issue pinned as an open discussion for the community.

When it comes to Pro fonts (including Duotone), there's a few issues that we should consider.

- Pro users have access to icons that do not exist in the Free font
- SVG paths may be more beneficial for users with images and certain buttons (like bar/tab buttons)

With using SVGs comes the possibility that people may try to ste

[2020-04-21 08:56] thii commented on #251
@valexa Thanks for your interest. We're expecting someone who have contributed to the project—including reporting/discussing issues and contributing code. We would love to have your contribution!

@MatrixSenpai Added you as a collaborator. Do you have a CocoaPods account? If you have any question about the release process, feel free to ask me via email.

[2020-04-23 21:34] MatrixSenpai commented on #251
I do, it's the same as listed on my profile. My CP profile is [here](https://cocoapods.org/owners/9977)

[2020-04-26 14:18] thii commented on #251
@MatrixSenpai Added you as a maintainer.

[2020-04-28 21:41] #251 closed

[2020-04-28 21:43] MatrixSenpai commented on #252
I've changed this issue to include discussion for the next major version. There's a few more points I'd like to consider.

- Include an `open` protocol or class for FA-compatible elements, making them easily extendable, similar to how RxCocoa implements easy extension.
- Investigate alternatives to, or possibly in addition to, an enum for storing the fonts and icon names, allowing storage of SVG p

[2020-04-28 21:44] MatrixSenpai commented on #252
For pro icons, I'm heavily leaning towards having the user manually install the library and providing detailed documentation on how to do so. There's a lot of stuff in here that can't be included without breaking the privacy entrusted to us by the creators of Font Awesome, and I'd like to avoid conflict as much as possible while still making this library available to those who want to use it

[2020-04-29 02:48] MatrixSenpai commented on #248
Hey Matt! This will be addressed in the next major version. I'm adding this to our project board now

[2020-04-29 02:51] #220 closed

[2020-04-29 02:51] #230 closed

[2020-04-30 17:00] Daemon-Devarshi opened #254 "UINavigationItem icon not appearing"
I am using following code to display an icon:

[code]

But for some reasons it is not showing the icon but a question mark in place:

![Screenshot 2020-04-30 at 10 32 05 PM](https://user-images.githubusercontent.com/959126/80738171-327e8700-8b32-11ea-8a75-5ef34ef6b0f8.png)

Am I missing anything over here?

[2020-05-01 04:22] MatrixSenpai commented on #254
Don't tie your navigation item to an `IBOutlet` as it is completely useless and there is no reason to re-implement it. Doing so could cause unexpected behavior. I repeat again, _do not re-implement `navigationItem` or any of its children_. _Always_ use their built in accessors via `self.navigationItem`

You should instead use the member `leftBarButtonItem`.

Try this code sample instead:
[code]

D

[2020-05-01 04:22] #254 closed

[2020-05-02 05:01] Daemon-Devarshi commented on #254
@MatrixSenpai your code did not fix the issue for me either. I will try to create a separate project, and share it here.

Also seems like the point which you overemphasised is not accurate. The apple documentation link which you pointed does not validate it. Also on doing a quick google search noticed a related code from an O'Reilly book, please have a look:

![Screenshot 2020-05-02 at 10 20 57 AM

[2020-05-02 08:33] Daemon-Devarshi commented on #254
@MatrixSenpai the solution which you proposed did not work for me either.

Having said that I am able to find the solution. Posting here so that it in future it may help someone who faces same problem:

Looks like the display of font awesome icon on UIBarButtonItem depends upon the style. For example in my case I was using the style as regular for GitHub icon, however I got it working by using the

[2020-05-03 04:22] MatrixSenpai commented on #254
Ah, seems I missed which icon you were using. You're correct, the font you were using was incorrect, and checking that is very important :) _Brands_ font includes the GitHub icon, while the code you posted has you using the _regular_ font, an important distinction.

I should rephrase my earlier advice, since it seems you've edited your code. Referencing a bar button item is, while redundant, safe

[2020-05-04 05:01] Daemon-Devarshi commented on #254
Understood, I see where the confusion was.

[2020-05-12 12:58] beloso opened #255 "Use from unicode char?"
It used to be possible to use the icons from a unicode character

Could we recover that functionality?

[2020-05-13 16:43] MatrixSenpai commented on #255
you still can. just make sure you're using the unicode properly
[code]

[2020-05-13 17:52] beloso commented on #255
How about for images?

My main problem is with generating an image from a Unicode char.

[2020-05-13 21:21] MatrixSenpai commented on #255
Is there a particular reason you _have_ to use unicode? The API has two features that may be more useful. Each FontAwesome icon has a `rawValue: String` property, that matches the CSS codes for each particular icon. The second is `UIImage.fontAwesomeIcon(code: String, style: textColor: size:)` that allows you to create a FontAwesome image from a CSS code. If you need to store and retrieve these co

[2020-05-14 08:20] beloso commented on #255
Well I am using a REST API that I don't own. They are sending the icon as a unicode char.
If you'd ask me I'd prefer using the CSS name. But in this case I don't have an option.

[2020-05-18 03:19] MatrixSenpai commented on #255
Since this is coming from an API, this may warrant further investigation. However, for the time being, here's a solution that may work
[code]

[2020-05-18 10:50] beloso commented on #255
Thank you, your suggestion does help me out.

One thing though, it's not enough to do `\u{\(code)}`. The compiler cries.
I had to use something like this:

[code]

[2020-05-20 07:21] MatrixSenpai commented on #255
I was assuming in this case that what's returned is in Char format (i.e. `f290`). In that case, to match it against something in the library as it stands, you'd have to use my format. If that's not the case, as it seems from what you're doing, you can either use your solution, which will only convert to String, or you can do something more elaborate like conversion to Char/String with interpolatio

[2020-05-20 07:21] #255 closed

[2020-05-20 08:26] beloso commented on #255
It’s definitely not a common problem. And definitively not worth to put a lot of effort into it.

I just felt I had to ask the question.
I got it working. I just wanted to know if there was a more straight forward way of doing it.

Thank you for your inputs

[2020-05-20 13:05] MatrixSenpai commented on #252
My initial take on version 2 has been pushed to the v2.0.0 branch. I have done the following

- Rebuilt the file structure. I am working towards separating the different components (core, iOS, macOS/iPadOS/Catalyst, etc) into different _subspecs_. **However**, I have set up the default subspecs as core + UIKit, so current users will be unaffected
- Moved away from Fastlane and the Cocoapods struct

[2020-06-04 22:35] Edwin97 opened #256 "FontAwesome icon displayed as question mark - Swift"
i installed the font on my OS, ensure the font i want is under free version, added the otf file to xcode and info file. I also try using the cocopod, however both ways end up with question mark : (

[2020-06-04 22:42] #256 closed

[2020-06-16 15:33] mikemike396 opened #257 "Watch OS Support"
Any idea if this library could support Watch OS?

[2020-06-17 15:08] MatrixSenpai commented on #257
FontAwesome.swift currently relies on `UIKit` and so does not support WatchOS. I'm working on separating the core FA library and the UIKit elements into different specs so we don't have this problem.

You can try using the `v.2.0.0` branch with `FontAwesome.swift/Core` spec

[2020-06-17 16:01] mikemike396 commented on #257
Thank you for the reply! I am getting this error

[code]

[code]

[2020-06-19 03:44] MatrixSenpai commented on #257
Thanks for making me aware. I've updated the Podspec to support WatchOS >= 4.0 and tested on a sample project to ensure it works.
You should be able to leave everything as-is and install the pod. Let me know if you run into any issues

[2020-06-19 16:32] mikemike396 commented on #257
Awesome! No WatchOS error now on pod install!

Is there a replacement for this in 2.0?

`UIImage.fontAwesomeIcon(name: FontAwesome.shoppingCart, style: .solid, textColor: color, size: CGSize(width: size, height: size))`

[2020-06-23 06:56] MatrixSenpai commented on #257
It's on the list of things to take care of. Right now, I'm really focusing on updating the core API, and splitting the UIKit stuff into a separate spec so I can add a spec specifically for watchOS and macOS

[2020-06-23 13:23] mikemike396 commented on #257
Understood! Thanks for the update. I'll wait for the other changes. Thanks for the hard work on this library! 🍺

[2020-06-23 22:35] Slodin opened #258 "icon + text = text becomes icon if text match icon name"
Hi,

In my toolbar item, I have set everything according to the doc page, it was working fine because I was making my app in a different language than English. However, now my app requires English as an alternative language option and this problem occurred.

`
let barItemFontAttr = [
        NSAttributedString.Key.font: UIFont.fontAwesome(ofSize: 15, style: .solid)
]

refreshOrders.setTitleTextAtt

[2020-06-24 14:27] MatrixSenpai commented on #258
This is another problem I'm attempting to solve. When typing the name of an icon in English, the font auto-translates it to the appropriate icon, rather than just using Unicode. I have not yet been able to figure out why.

Are you initializing your `UIBarButtonItem` in Storyboard or inside a class?

[2020-06-24 22:55] Slodin commented on #258
It is a UIBarButtonItem in the Storyboard, but used in a viewcontroller class.
I thought String.fontAwesomeIcon(name) is used to translate the icon into a string, but it seems to affect the entire title anyways with or without calling that function. It's almost as if it's matching anything that contains certain key words. I was trying to write "Routes Prev", it became: route Icon + "s Prev".

[2020-06-25 03:49] MatrixSenpai commented on #258
You're correct, and this is a source of investigation at the moment. I have yet to determine what it is about the font that causes actual text to be translated into an FA icon.
Currently, when using `String.fontAwesomeIcon(name:)`, it's basically just the same as using `FontAwesome.x_icon_name.unicode`
Until I can solve this issue, my recommendations are:
- Use NSAttributedString where available.

[2020-06-26 06:27] Slodin commented on #258
Thanks for your reply, I did figure out a similar thing to yours for labels and buttons. However, UIBarButtonItem is a different story since it doesn't take attributed strings. Then I realized I can just stuff a button or label into the UIBarButtonItem...

So I figured a workaround for UIBarButtonItem, I didn't look into this problem until earlier since I had to do many more translations and this

[2020-07-03 04:30] MatrixSenpai opened #259 "Support coming for FontAwesome v5.13.1"
Just letting everyone know, as of this moment I'm having some issues updating master because of a cli-swift issue.

Support is coming for the latest FontAwesome icons, as soon as I get this figured out. Thank you all for your patience

[2020-07-04 16:53] perlguy99 commented on #259
In case it helps, the script works with tools that are a bit older, I have Xcode 11.5 (11E608c) installed and it runs for me.  However, I'm trying to generate all of the Pro fonts and it seems to be missing the duotones and light fonts completely.  I turned on "Use Pro Fonts", do you have any other tips for generating ALL of the Pro fonts?  Thank you!

[2020-07-04 18:32] perlguy99 commented on #259
FYI, I got much further with the swift CLI script running by renaming `/Library/Developer/CommandLineTools` and then performing a `sudo xcode-select --install`.  Now the script compiles and tries to run, but I get a segmentation fault that I am trying to debug.

[2020-07-05 07:39] MatrixSenpai commented on #259
Ensure that you've installed the submodule. There's a lot of force-unwrapping optionals in there, especially when it comes to decoding and reading the metadata file.

To install with pro fonts, you'll need to replace the FortAwesome/FontAwesome submodule with the FortAwesome/FontAwesome-Pro submodule, and change the path inside the script

[2020-07-08 22:13] perlguy99 commented on #259
I got the cli-swift file to run properly on one of the developer preview Macs!

[2020-07-09 21:27] perlguy99 commented on #259
Is duotone supported?  It looks like I only see 1 of the colors.

[2020-07-10 00:24] MatrixSenpai commented on #259
duotone is not currently supported. I am debating how to show them, and whether to allow them in UILabels. Ligatures and SVGs are the two paths that seem readily available, but i'm not sure if either is the right choice. For now, I am closing all PRs related to them

[2020-07-11 21:21] Slodin commented on #258
So If anyone needs this. Here is a BarButtonItem that works with this library in its current state.
I'm still new to swift as I just came from Android development since our company is short-handed in the swift side. So there might be better ways to do this, but this works for me.

[code]

Usage:
1. Make your barButtonItem in your storyboard
2. Use this FAIconBarButtonItem class
3. You can customiz

[2020-07-14 19:11] perlguy99 commented on #259
I created a SwiftUI "demo" app for viewing the FontAwesome images...  [FontAwesome.SwiftUI.demo](https://github.com/perlguy99/FontAwesome.SwiftUI.demo)

[2020-07-22 04:12] christoph73 opened #260 "FA.swift showing strange icons after update"
Hi!

Maybe it is my foult, and I do not see a solution anywhere. I need advice, please.

After updating to XCode 11.6 and FA.swift 1.8.3 I just see strange Icons (basically question marks in boxes) instead of the correct icons.

Any thoughts? What am I doing wrong? Do I have to put my FA5 license anywhere?

I'd be greatful for help!

Regrads,
Christoph

[2020-07-22 18:11] MatrixSenpai commented on #260
This happens when you are not loading the fonts correctly. Please ensure your fonts are in the `Copy Resources Phase` and you have filled out the `Fonts Provided By Application` key in your `Info.plist`

[2020-07-22 19:59] christoph73 commented on #260
I have done as adviced (see shots below). Anything else, that I might be missing? Are the otf-Files sufficient or do I need the ttf's in addition?

![1](https://user-images.githubusercontent.com/11836926/88222595-7f23bb00-cc66-11ea-80c2-8f34337dd669.png)
![2](https://user-images.githubusercontent.com/11836926/88222599-8054e800-cc66-11ea-84ef-e4185049f839.png)

Thanks for your help!

[2020-07-24 07:37] MatrixSenpai commented on #260
Did you ensure `FontAwesomeConfig.useProIcons` is set to true in `AppDelegate.launch(withOptions:)`?

[2020-07-24 09:57] christoph73 commented on #260
No I did not, because I did noct stumble upon any documentation telling me so...
I now switched to "SwiftIcons" which worked with a minimum on migration effort right away. It seems a little more powerful aswell. Sorry, no offense! Keep the good work goin!

[2020-07-24 09:57] #260 closed

[2020-08-17 14:25] phoney opened #263 "Cocoapods Says latest version 5.14.0"
When I run pod outdated I get

[code]

Apparently there is a tag '5.14.0' AFAICT it's not on any branch.
If I run:
```git branch -a --contains 8e8912c```
the result is empty.

What I guess happened is that a branch was made with a commit
[code]

Then the branch was deleted. git doesn't delete tags even though the branch it's on has been deleted. The tag is keeping that branch alive. I assume this

[2020-08-18 04:40] MatrixSenpai commented on #263
wild. thanks for letting me know. I just deleted the tag, should fix the issue. close if true, thanks

[2020-08-18 15:23] phoney commented on #263
I can see that the tag is gone (it was previously visible in the GitHub tags menu). But I still get the same output from ```pod outdated```. Maybe it will be fixed next time a new version is released to Cocoapods, but I'm really not sure.

I filed an issue with the Cocoapods project

https://github.com/CocoaPods/CocoaPods/issues/9988

[2020-08-19 21:00] phoney commented on #263
@MatrixSenpai Can you review and maybe comment on the issue in the Cocoapods project listed upthread? A dev there points out that the page below shows that the latest version is 5.14.0. Not sure how that happened or how to fix it.

https://cocoapods.org/pods/FontAwesome.swift

[2020-08-19 22:36] MatrixSenpai commented on #263
I must have pushed it to the trunk and forgot about it. I'll fix it tonight

[2020-08-20 20:28] keeshux commented on #263
Deleting the tag is not enough, you should deprecate/remove the pod in trunk. FYI pod installation is completely broken today.

[2020-08-20 21:59] MatrixSenpai commented on #263
v5.14.0 has been removed from the pod trunk. Also, @keeshux can you open a new issue with the problems you're experiencing? Please include the version number

[2020-08-20 21:59] #263 closed

[2020-08-20 22:19] keeshux commented on #263
No new issue. I meant that `pod 'FontAwesome.swift'` could not work until the broken version was removed. Having removed the pod on your end and updated the pod repo on mine, the issue has been solved. Thanks!

[2020-10-11 01:57] smileatom opened #264 "used to work now completely broken"
I upgraded (I suppose since its been awhile since i originally put this in my app) 2016?  Now almost none of the icons load.  All are in the free package, I have squares with question marks all over my app.  What gives?

[2020-10-13 20:03] MatrixSenpai commented on #264
I need some more information before I can do anything

- What font are you using? Are you loading the font yourself?
- Are you using storyboard or manually inserting text?
- Are you sure that the icon is available in the free font? Some icons have changed and may not be available since 2016

[2020-10-15 17:56] smileatom commented on #264
Sorry man, icons not loading is just broken.  I had to replace about a hundred places in my app with another library.  I have no additional information on why your library broke.  You can close this.   Im not waiting on anything.

[2020-10-15 17:56] #264 closed

[2020-11-03 16:10] Kedar-27 commented on #259
any ETA?

[2020-11-05 18:05] atereshkov opened #265 "[iOS] Some images show question mark instead of actual icon"
Including free icons of course. I use latest v1.9 version.

[code]

Any ideas?

<img width="166" alt="Screen Shot 2020-11-05 at 9 05 00 PM" src="https://user-images.githubusercontent.com/13171457/98279195-96cf4700-1faa-11eb-9a3d-bfd63dadc6c4.png">

[2020-11-05 18:28] atereshkov commented on #265
Ok seems like I get the issue. I need to check whether the icon style is free for use on the [fontawesome.com](https://fontawesome.com/).

Using .solid style for .home icon works for me:

`tabBarItem.image = UIImage.fontAwesomeIcon(name: .home, style: .solid, textColor: .black, size: CGSize(width: 28, height: 28))`

[2020-11-07 04:56] MatrixSenpai commented on #265
Ensure that you are also using the pro fonts, if you have them available.
Do this by setting `FontAwesomeConfig.usesProFonts = true` somewhere in your initialization. I usually set it in the AppDelegate

[2020-11-07 04:59] MatrixSenpai commented on #259
Still working on a few things with the next version. Updated font support will be bundled in. If you need it in the meantime, you can manually add the library and update the font. You can still add it into your pod file, just ensure that it is pointed towards the local path and not the git repository. See more [here](https://guides.cocoapods.org/syntax/podfile.html#pod)

[2020-11-09 19:52] MatrixSenpai commented on #265
I should also note that a limited number of free icons have regular styles available. Some of them only have solid. This appears to be the case with `home`, but not `user`

Each icon has a property attached that will let you know what styles are available

[2020-11-09 19:57] #265 closed

[2020-11-12 14:11] hactar commented on #259
5.15.1 is the current version, hope that when you do find the time to upgrade, you can upgrade to the newest version :)

[2020-11-13 03:22] MatrixSenpai commented on #259
Updating right now. Had to fix some shit with swift giving me the runaround. small changes to how things are done under the hood, but no changes to any of the core library or the release process

[2020-11-13 03:25] MatrixSenpai commented on #259
07883a32d49dfc7bdedbeea115067b53dfbeeb43 pushed to master and CP, closing

[2020-11-13 03:25] #259 closed

[2020-11-13 03:27] MatrixSenpai commented on #259
As a note, @thii I was having issues specifically with the `./codegen.swift` command. I was getting "This copy of libswiftCore.dylib requires an OS version prior to 10.14.4." I couldn't figure out what was causing it, and since I'm loathe to roll back to a previous version of Xcode, I just went ahead and added an executable target in the `Package.swift` and changed `./codegen.swift` -> `swift run

[2020-11-13 03:40] thii commented on #259
Looks like a prolem with your machine's installed Swift runtime.

[2020-11-13 06:33] MatrixSenpai commented on #259
It might very well be. I don't have a lot of space so I also only have one version of Xcode/swift installed atm. I'm working on getting CI to take care of bumps for us atm

[2020-11-21 14:58] ivanorotondo commented on #230
I solved it following @ghowen instructions but with a couple of differences: it results the `codegen.swift` file is now called main.swift and you can find it in /tools folder. Plus, you better move it in the root project folder because there's some inconsistency with paths. After launching `swift main.swift` it created the new `Enum.swift` file in /FontAwesome and I could use it in my project. Bew

[2020-11-27 03:28] MatrixSenpai commented on #230
You should use `swift run tools` from the root directory instead

[2021-01-29 10:05] wesoo opened #266 "Retrieve image not work"
Hi,
when I call UIImage.fontAwesomeIcon with code the result is nil, but if I do the same with name (corresponding to code) it work.

Any solution?

[2021-01-29 17:42] MatrixSenpai commented on #266
can you post the code you're using to call the icon?

[2021-02-02 12:09] MoElnaggar14 opened #267 "update Enum file to include pro codes"

[2021-02-03 03:07] MatrixSenpai commented on #267
This is going to be a no, because as open-source software we support only the open-source side. Should you need these codes, you will have to perform the following steps

- download the repository
- replace the FontAwesome submodule with the FontAwesome-Pro submodule
- run `codegen.swift`
- either manually install, or include a path entry in your Cocoapods or Carthage installation

[2021-02-03 03:07] #267 closed

[2021-02-04 15:03] MoElnaggar14 commented on #267
@MatrixSenpai excuse me, where can I find/ get FontAwesome-Pro submodule.

[2021-02-04 19:12] MatrixSenpai commented on #267
You will need a license through Font Awesome, if you don't already have it. Once that's done, use their online dashboard to link your GitHub and get access to the private repository containing FontAwesome-Pro. Once that's done, add that repository as a submodule (I recommend in the FortAwesome directory) and change [this line](https://github.com/thii/FontAwesome.swift/blob/07883a32d49dfc7bdedbeea1

[2021-05-04 06:39] AkashlalBol commented on #248
@DerekK19 Thanks for your input. FontAwesome Swift library surprisingly still has this issue.. Importing the 3 otf font files resolved the issue for me as well.

[2021-05-04 22:20] MatrixSenpai commented on #248
@AkashlalBol there's some difficulty with resources in SPM

SPM [only recently](https://github.com/apple/swift-evolution/blob/main/proposals/0271-package-manager-resources.md) added the ability to include resources with a package, and loading from those needs to be handled separately from CP and normally loaded bundles. All of this is being re-written

[2021-05-05 06:29] AkashlalBol commented on #248
Okay @MatrixSenpai, makes sense :)
However good for this information to be added to readme.md file, because current FA is SPM compatible after importing the 3 font styles separately.

[2021-05-12 21:21] MatrixSenpai commented on #248
@AkashlalBol if you load the fonts yourself, there is no incompatibility. If there is, please post an error log. However, [this code](https://github.com/thii/FontAwesome.swift/blob/07883a32d49dfc7bdedbeea115067b53dfbeeb43/FontAwesome/FontAwesome.swift#L103-L109) is responsible for pre-checking if the font has already been loaded by the system. To assist with this, I recommend using [FontBlaster](h

[2021-08-11 15:01] arthursalgadotectrilha commented on #242
Any updates ?

[2021-08-21 16:14] phoney commented on #248
SPM was updated last year to support Resources in swift 5.3, Xcode 12. This page https://developer.apple.com/documentation/swift_packages/bundling_resources_with_a_swift_package says that setting the swift tools version to 5.3 should make resources "just work." Any progress on this?

[2021-10-05 19:20] PierreBrisorgueil opened #273 "xCode13 CompileSwiftSources normal x86_64 com.apple.xcode.tools.swift.compiler"
Hello, just ran into this :

https://developer.apple.com/documentation/Xcode-Release-Notes/xcode-13-release-notes

`CompileSwiftSources normal x86_64 com.apple.xcode.tools.swift.compiler (in target 'FontAwesome' from project 'FontAwesome')
`

[2021-11-21 20:42] Nodalailama commented on #252
Hi,

How can I pod this branch ?

Doing
pod 'FontAwesome.swift', :git => 'https://github.com/thii/FontAwesome.swift.git', :branch => 'v2.0.0'
give me this spec problem:

`[!] Unable to find a specification for 'FontAwesome.swift'.`

Cordialement,

[2021-12-01 01:01] afern247 commented on #242
Updates??

[2021-12-02 11:37] Nodalailama opened #274 "Navigation bar button with correct FA icon size"
Hi,

How are you setting a navigation bar button using font awesome but "respecting" the default icon button size ?
Like a want to get the same chevron left native ios icon but using font awesome.

Thanks for any help.

Cordialement,

[2022-01-05 12:04] sandeepbol commented on #248
You can use our fork for the SPM crash fix -- https://github.com/BankofLoyal/FontAwesome.swift

CC: @AkashlalBol

[2022-01-25 12:05] dneykov commented on #248
I can confirm SPM works using @sandeepbol fork.

Great job. Thanks!

[2022-01-31 04:55] sandeepbol commented on #248
@MatrixSenpai Please close after creating the tag.

[2022-02-03 18:21] DaveenJay opened #276 "FontAwsome Pro"
This library currently supports only free icons. I have created a enum with pro icons. Can someone update the library to support pro v5  icons. I have the list created and will provide if someone can update it. Thanks.

[2022-02-10 07:40] DaveenJay commented on #276
Along with Update to support Font Awesome V6

[2022-03-09 20:50] mackswell13 opened #277 "Swift icons showing as Question Marks"
I want to use Fontawesome Icons for swift but when I use lines like this

 dockerIcon.setImage(UIImage.fontAwesomeIcon(name: .docker, style: .regular, textColor: .black, size: CGSize(width: 20, height: 20)), for: .normal)

The icons are showing up as question marks. Any help would be appreciated.

[2022-03-26 18:51] kalmicka commented on #277
Try to use "style: .brands" and not "style: .regular"

[2022-04-19 03:15] Rspoon3 opened #279 "Nil fontName leads to crash"
Running the basic example from the README causes a crash.

**System Info:**
* Xcode 13.3.1 (13E500a)
* iPad Pro 11 Inch 3rd Generation (iOS 15.4 Simulator)

**Reproduction steps:**
1. Create a new Xcode project
2. Add FontAwesome via Swift Package Manager
3. Copy and paste the code below
4. Run the application

[code]

**Actual Results:**
A crash occurs due to the fontName being nil
![Screen Shot

[2022-04-29 15:59] Rspoon3 commented on #279
Duplicate of https://github.com/thii/FontAwesome.swift/issues/236

[2022-04-29 15:59] #279 closed, assigned to nobody

[2022-06-09 06:54] miaoruiyuan opened #281 "FontAwesome 6.1"
Are you planning to upgrade?

[2022-08-23 10:15] mahesh-novotrax commented on #281
+1

[2022-09-05 05:35] X-JackWill commented on #237
Same problem. In iOS 16. this won't appear until iOS 16.

I config the developer acount. But I don't know why this happens.

[2022-09-14 12:13] jbgtmartin commented on #237
This issue appeared for me after updating XCode from 13.4.1 to 14.0. I can compile if I select a development team in the `FontAwesome.swift-FontAwesome.swift` target, but I guess it's not supposed to work like this?

[2022-11-10 21:34] jdelaune commented on #281
People can tweak this to their needs. It generates the new enums for 6.2, also made it add in all the aliases for backwards compatibility with 5.

Just need to remember to add the new `thin` case to `FontAwesomeStyle`.

[code]

[2022-11-23 10:54] mzekrallah commented on #237
suffering from this issue as well. please fix